@charset "UTF-8";

/**
 * Function returns a class selector based on $prefix and $suffix.
 *
 * @author - Martin Kamír
 *
 */
@function _class-shell($prefix, $suffix) {
	@return #{$prefix}#{$suffix};
}

/**
 * Returns list of corresponding suffixes based on $suffix parameter.
 *
 * NOTE: This is helper function for function _get-suffix.
 *
 * @author - Martin Kamír
 *
 * @example
 * _create-suffix-list('size-x-minmax', 5, $minmax: true) => (min, s, m, l, max);
 * _create-suffix-list('size-x', 5) => (xs, s, m, l, xl);
 * _create-suffix-list('size-minmax', 5, $minmax: true) => (min, small, medium, large, max);
 * @overload _create-suffix-list($suffix, $length, $minmax: false)
 * @param $suffix {string} - Name of the suffix that will be used in outputting the suffix list.
 * @param $length {number} - Number of suffixes that will be used in outputting the suffix list.
 * @param $minmax {boolean} - As default set to false. If set to true, the suffix list will contain min and max.
 * @return list of suffixes
 */
@function _create-suffix-list($suffix, $length, $minmax: false) {

	// Get higher and lower suffixes list from the map.
	$lower-values : map-get($map-for-suffixes, $suffix, lower-values);
	$higher-values : map-get($map-for-suffixes, $suffix, higher-values);

	// Get the minimum and maximum index by:
	// 1. Getting the length of the list.
	// 2. Dividing the length of the list by half.
	// 3. For the minimum index ceil the number up to the next integer. For the maximum index floor the number down to the next integer.
	$min-index : ceil(math.div($length, 2));
	$max-index : floor(math.div($length, 2));

	// Slice the list to get the minimum and maximum values.
	$lower-list : _list-slice($lower-values, $end : $min-index);
	$higher-list : _list-slice($higher-values, $end : $max-index);

	// If $minmax parameter is set to true, add min and max suffixes to the list.
	@if ($minmax == true) {
		$lower-list : set-nth($lower-list, -1, 'min');
		$higher-list : set-nth($higher-list, -1, 'max');
	}

	// Concatenate the lower and higher list.
	// The lower list values will be at the beginning of the outputted list. The lower list has to be reversed, because the last values, which represents the smallest values would be at middle of the outputted list if not reversed (i.g: small, smaller, smallest, medium, big, bigger, etc...).
	// The higher list will be at the end of the list.
	@return join(_list-reverse($lower-list), $higher-list);
}

/**
 * Returns either a calculated number or the calculation method. Values that are calculated are base and ratio. Return is based on $pre(preservation) number,
 * which sets how many values will be preserved(can't be changed with ratio or base css properties) by getting the already calculated number. When $pre(preservation) reaches the set maximum value
 * calculation method will be returned. Calculation of how much ratio will scale the base number is based on the current index($i) in the loop. So in every loop interval, the ratio will be increased by 1.
 *
 * NOTE: This function is a building block for the generated types scale functionality.
 *
 * @author - Martin Kamír
 *
 * @example
 * _decide-calc-method(1rem, 2, 5, 2, f-size) => 16rem
 * _decide-calc-method(1rem, 2, 5, 6, f-size) => calc(var(--f-size-base) * var(--f-size-ratio) * var(--f-size-ratio) * var(--f-size-ratio) * var(--f-size-ratio) * var(--f-size-ratio) * var(--f-size-ratio))
 * @overload _decide-calc-method($b, $r, $pre, $i, $p)
 * @param $b {number} - Base value.
 * @param $r {number} - Ratio value.
 * @param $pre {number} - Preserve value.
 * @param $i {number} - Index value.
 * @param $p {string} - Prefix value.
 * @return calculated number or calculation method.
 */
@function _decide-calc-method($b, $r, $pre, $i, $p) {
	@if ($i == 1) {
		@if ($pre >= 1) {
			@return $b * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 2) {
		@if ($pre >= 2) {
			@return $b * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 3) {
		@if ($pre >= 3) {
			@return $b * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 4) {
		@if ($pre >= 4) {
			@return $b * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 5) {
		@if ($pre >= 5) {
			@return $b * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 6) {
		@if ($pre >= 6) {
			@return $b * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 7) {
		@if ($pre >= 7) {
			@return $b * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 8) {
		@if ($pre >= 8) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 9) {
		@if ($pre >= 9) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 10) {
		@if ($pre >= 10) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 11) {
		@if ($pre >= 11) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 12) {
		@if ($pre >= 12) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 13) {
		@if ($pre >= 13) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 14) {
		@if ($pre >= 14) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 15) {
		@if ($pre >= 15) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 16) {
		@if ($pre >= 16) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 17) {
		@if ($pre >= 17) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 18) {
		@if ($pre >= 18) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 19) {
		@if ($pre >= 19) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 20) {
		@if ($pre >= 20) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 21) {
		@if ($pre >= 21) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 22) {
		@if ($pre >= 22) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 23) {
		@if ($pre >= 23) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 24) {
		@if ($pre >= 24) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
	@if ($i == 25) {
		@if ($pre >= 25) {
			@return $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
		} @else {
			@return calc(var(--#{$p}base) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio) * var(--#{$p}ratio));
		}
	}
}


/**
 * Function validates a ratio string key.
 *
 * @author - Martin Kamír
 *
 */
@function _validate-ratio($ratio) {
	@return if(map-has-key($map-for-ratios, $ratio), map-get($map-for-ratios, $ratio), $ratio);
}

/**
 * Function returns more specified string.
 *
 * @author - Martin Kamír
 *
 */
@function _get-name($name, $specified-name) {
	@if ($specified-name != null) {
		@return $specified-name;
	} @else {
		@return $name;
	}
}

/**
 * Returns string of suffix based on current $i in the loop.
 *
 * NOTE: This function is a building block for the generated scalable system functionality, which controls the outputted suffix.
 *
 * @author - Martin Kamír
 *
 * @example
 * _get-suffix(numeric, 5, 2) => 2;
 * _get-suffix(numeric-hundreds, 5, 2) => 200;
 * _get-suffix((a1, a2, a3, a4, a5), 5, 2) => a2;
 * _get-suffix(roman, 5, 2) => II;
 * _get-suffix(nato, 5, 2) => Bravo;
 * _get-suffix(size, 5, 2) => Small;
 * _get-suffix(size-shorted-minmax, 5, 2) => sm;
 * _get-suffix(size-x-minmax, 5, 1) => min;
 * @overload _get-suffix($suffix: 'numeric', $length,  $i)
 * @param $suffix {string} - As default set to numeric. Based on the suffix value, the function returns the corresponding suffix.
 * @param $length {number} - The length of the list.
 * @param $i {number} - The current index in loop.
 * @return string - The suffix.
 */
@function get-suffix($suffix, $length, $i, $map-to-get: null) {
	@if ($suffix == 'numeric') {
		@return $i; // Returns the current number based on the index.

	} @else if ($suffix == 'numeric-hundreds') {
		@return $i + '00'; // Returns the current number based on the index and adds '00' to the end.

	} @else if (type-of($suffix) == 'list') {
		@return nth($suffix, $i); // Returns value from custom list based on current $i.

	} @else if (index(('roman', 'greek', 'military', 'planets', 'nato', 'alphabet', 'alphabet-upper', 'primary'), $suffix)) {
		@return nth(map-get($map-for-suffixes, $suffix), $i); // Returns value from premade list based on current $i.

	} @else if (index(('size', 'size-minmax', 'size-shorted', 'size-shorted-minmax', 'size-x', 'size-x-minmax', 'size-adjectives', 'size-adjectives-minmax', 'size-and-number', 'size-and-number-minmax', 'size-and-x', 'size-and-x-minmax'), $suffix)) {

		// Map which holds corresponding suffixes of sizes.
		//@debug $length;
		$map-of-suffixes : (
				'size' : _create-suffix-list($suffix, $length),
				'size-minmax' : _create-suffix-list($suffix, $length, $minmax : true),
				'size-shorted' : _create-suffix-list($suffix, $length),
				'size-shorted-minmax' : _create-suffix-list($suffix, $length, $minmax : true),
				'size-x' : _create-suffix-list($suffix, $length),
				'size-x-minmax' : _create-suffix-list($suffix, $length, $minmax : true),
				'size-adjectives' : _create-suffix-list($suffix, $length),
				'size-adjectives-minmax' : _create-suffix-list($suffix, $length, $minmax : true),
				'size-and-number' : _create-suffix-list($suffix, $length),
				'size-and-number-minmax' : _create-suffix-list($suffix, $length, $minmax : true),
				'size-and-x' : _create-suffix-list($suffix, $length),
				'size-and-x-minmax' : _create-suffix-list($suffix, $length, $minmax : true)
		);

		// Loop over the map and check if $suffix corresponding with $key
		@each $key, $list-of-suffixes in $map-of-suffixes {
			@if ($suffix == $key) {
				@return nth($list-of-suffixes, $i); // Returns value from premade list based on current $i.
			}
		}
	} @else if ($suffix == 'color-adjectives') {
		$list-of-suffixes : _list-slice(map-get($map-for-suffixes, $suffix, $map-to-get), 1, $length);

		@if $map-to-get == 'lighter-values' {
			$list-of-suffixes : _list-reverse($list-of-suffixes);
		}

		@return nth($list-of-suffixes, $i);
	} @else {
		@error 'Invalid suffix type of #{$suffix}. Valid types are: #{_map-keys($map-for-suffixes)}';
	}
}

/**
 * Returns either 1. calculated number or 2. calculation method with scaled ratio affected by current index($i) 2. calculation method.
 *
 * NOTE: This function is a building block for the generated type scale functionality.
 *
 * @author - Martin Kamír
 *
 * @example
 * _get-value(1rem, 2, 5, 2, f-size, 5) => 16rem
 * _get-value(1rem, 2, 5, 6, f-size, 5) => calc(var(--f-size-base) * var(--f-size-ratio) * var(--f-size-ratio) * var(--f-size-ratio) * var(--f-size-ratio) * var(--f-size-ratio) * var(--f-size-ratio))
 * _get-value(1rem, 2, 5, 7, f-size, 5) => calc(var(--f-size-6) * var(--f-size-ratio))
 * @overload _get-value($base, $ratio, $preserve, $i, $prefix: null, $suffix: null)
 * @param $base {number} - Base value.
 * @param $ratio {number} - Ratio value.
 * @param $preserve {number} - Preserve value.
 * @param $i {number} - Index value.
 * @param $prefix {string} - Prefix value.
 * @param $suffix {string} - Suffix value.
 */
@function _get-value($base, $ratio, $preserve, $i, $prefix: null, $suffix: null) {
	@if ($preserve >= $i) {
		@return _number-round(_decide-calc-method($base, $ratio, $preserve, $i, $prefix), 2);
	} @else if ($preserve + 1 == $i) {
		@return _decide-calc-method($base, $ratio, $preserve, $i, $prefix);
	} @else {
		@return calc(var(--#{$prefix}#{$suffix}) * var(--#{$prefix}ratio));
	}
}












