@charset "UTF-8";
@use 'sass:list';
@use 'sass:map';
@use '../list' as *;
@use 'functions' as *;

/**
 * Process config map or parameters into one main config map, which will be disturbed to other functions to
 * generate scalable css properties, based on given parameters/config.
 *
 * NOTE: This function is a building block for the generated scalable system functionality.
 *
 * @author - Martin Kamír
 *
 */
@mixin config($config, $mixin, $property, $base, $ratio, $length, $preserve, $utils, $src, $prefix, $suffix) {

	// Create local private config from parameters.
	$_config : (
			'mixin': $mixin,
			'property' : $property,
			'base' : $base,
			'ratio' : $ratio,
			'length' : $length,
			'preserve' : $preserve,
			'utils' : $utils,
			'src' : $src,
			'prefix' : $prefix,
			'suffix' : $suffix,
			'break-at' : 'max', // refactor
	);

	// If config is not null, merge the config with the local private config.
	@if $config != null {
		$_config : map.deep-merge($_config, map-get($config, $mixin));
	}

	@include _generate-types-scale($_config)
}

/**
 * Mixin for processing the color parameters.
 *
 * @author - Martin Kamír
 *
 */
@mixin _process-colors($config) {
	$src              : map-get($config, 'src');
	$src-scheme       : map-get($config, 'src-scheme');
	$preferred-scheme : map-get($config, 'preferred-scheme');
	$dark-scheme      : false;
	$map              : $src;

	// The main loop for processing and outputting the colors.
	@for $i from 1 through if($src-scheme == null, 1, 2) {

		// Switching the map to the preferred color scheme.
		@if length($src) == 1 {
			@if $src-scheme != null and $i > length($map) {
				$map         : $src-scheme;
				$dark-scheme : true;
			}
		} @else {
			@if $src-scheme != null and $i >= length($map) {
				$map         : $src-scheme;
				$dark-scheme : true;
			}
		}

		// Generating the color properties to the root and at media preferred color scheme.
		@if $dark-scheme == false {
			@include _generate-colors($config, $map, true);
		} @else {
			@media (prefers-color-scheme : #{$preferred-scheme}) {
				@include _generate-colors($config, $map, false);
			}
		}
	}
}

/**
 * Mixin outputs utility classes for color and background properties.
 *
 * @author - Martin Kamír
 *
 */
@mixin _generate-color-utilities($utils, $prefix-text, $prefix-background, $key, $suffix, $value) {
	@if $utils {
		@at-root .#{$prefix-text}#{$key}#{$suffix} {
			@include _declaration-body($key, $suffix, $value, 'color');
		}
		@at-root .#{$prefix-background}#{$key}#{$suffix} {
			@include _declaration-body($key, $suffix, $value, 'background-color');
		}
	}
}

/**
 * Mixin for generating the color values.
 *
 * @author - Martin Kamír
 *
 */
@mixin _generate-colors($config, $map, $enabled-classes) {
	$tints             : map-get($config, 'tints');
	$shades            : map-get($config, 'shades');
	$hsl-formatting    : map-get($config, 'hsl');
	$prefix-text       : map-get($config, 'prefix-text');
	$prefix-background : map-get($config, 'prefix-background');
	$suffix            : map-get($config, 'suffix');
	$suffix            : map-get($config, 'suffix');
	$utils             : map-get($config, 'utility-classes');

	// If $enabled-classes is false then the $utils will be false too, This statement is used to avoid generating the same utility classes but for a dark or light color scheme.
	@if $enabled-classes == false {
		$utils : false;
	}

	$_suffix           : '';
	$colors-list       : ();

	@each $key, $value in $map {

		// Mechanism for generating the color properties with a suffix that relies on a number-based list of suffixes. Such as 'roman', 'nato', 'numeric', 'numeric-hundreds', custom list of suffixes, etc.
		@if $suffix != null and $suffix != 'color-adjectives' {

			// If tints are defined then based on the percentage values of tints get the value and append it to the colors-list.
			@if $tints != null {
				@for $x from 1 through length($tints) {
					$_value      : _get-hsl(mix(white, $value, nth($tints, $x)), $hsl-formatting);
					$colors-list : append($colors-list, $_value);
				}
			}

			// Get the default value from the $src map. Append it to the colors-list in middle. So the tints will be at the start default value at the middle and the shades at the end.			// Get the default value from the $src map. Append it to the colors-list at middle. So the tints will be at start default value at the middle and the shades at the end.
			$_value      : _get-hsl($value, $hsl-formatting);
			$colors-list : append($colors-list, $_value);

			// If shades are defined then based on the percentage values of shades get the value and append it to the colors-list.
			@if $shades != null {
				@for $x from 1 through length($shades) {
					$_value      : _get-hsl(mix(black, $value, nth($shades, $x)), $hsl-formatting);
					$colors-list : append($colors-list, $_value);
				}
			}

			// Loop for outputting the color values from the colors-list and generating the utility classes.
			@for $x from 1 through length($colors-list) {
				$_suffix : '-#{get-suffix($suffix, length($colors-list), $x)}';
				$value   : nth($colors-list, $x);

				@include _variable-body($key, $_suffix, $value);
				@include _generate-color-utilities($utils, $prefix-text, $prefix-background, $key, $_suffix, $value);
			}
		}

		// Mechanism for generating the color properties with 'color-adjectives' suffix.
		@if $suffix == 'color-adjectives' {

			// Generate tint color properties and utility classes.
			@if $tints != null {
				@for $x from 1 through length($tints) {
					$_value  : _get-hsl(mix(white, $value, nth($tints, $x)), $hsl-formatting);
					$_suffix : '-#{get-suffix($suffix, length($tints), $x, 'lighter-values')}';

					@include _variable-body($key, $_suffix, $_value);
					@include _generate-color-utilities($utils, $prefix-text, $prefix-background, $key, $_suffix, $value);
				}
			}

			// Generate the default color properties and utility classes.
			$_value  : _get-hsl($value, $hsl-formatting);
			$_suffix : '';

			@include _variable-body($key, $_suffix, $_value);
			@include _generate-color-utilities($utils, $prefix-text, $prefix-background, $key, $_suffix, $value);

			// Generate shade color properties and utility classes.
			@if $shades != null {
				@for $x from 1 through length($shades) {
					$_value  : _get-hsl(mix(black, $value, nth($shades, $x)), $hsl-formatting);
					$_suffix : '-#{get-suffix($suffix, length($shades), $x, 'darker-values')}';

					@include _variable-body($key, $_suffix, $_value);
					@include _generate-color-utilities($utils, $prefix-text, $prefix-background, $key, $_suffix, $value);
				}
			}
		}

		// Mechanism for generating the color properties with no suffix. Mainly used for generating the color pallet from $src.
		@if $suffix == null {
			@include _variable-body($key, $_suffix, $value);
			@include _generate-color-utilities($utils, $prefix-text, $prefix-background, $key, $_suffix, $value);
		}

		// At the end of the loop, clear the colors-list. To avoid generating the same color properties again.
		$colors-list : ();
	}
}

/**
 * Generates css properties of given parameters in config.
 *
 * NOTE: This function is main building block for the generated types scale functionality, which controls generating the css properties.
 *
 * @author - Martin Kamír
 *
 */
@mixin _generate-types-scale($config) {

	$mixin       : map-get($config, 'mixin');
	$property    : map-get($config, 'property');
	$base        : map-get($config, 'base');
	$ratio       : map-get($config, 'ratio');
	$length      : map-get($config, 'length');
	$preserve    : map-get($config, 'preserve');
	$utils       : map-get($config, 'utils');
	$src         : map-get($config, 'src');
	$prefix      : map-get($config, 'prefix');
	$suffix      : map-get($config, 'suffix');
	$break-at    : map-get($config, 'break-at');
	$breakpoints : map-get($config, 'breakpoints');

	$value       : null;
	$keys        : null;
	$suffix-prev : null;
	$_suffix     : $suffix;
	$src-length  : length($src);
	$src-type    : type-of($src);
	$length      : if($length != null, $length, $src-length);

	@if $base != null {
		--#{$prefix}ratio : #{$ratio};
		--#{$prefix}base  : #{$base};
	}

	@if $src-type == map {
		$keys       : list-converted($src, 'keys');
		$src        : list-converted($src, 'values');
		$src-length : length($src);
	}

	@for $i from 1 through $length {
		$suffix                : get-suffix($_suffix, $length, $i);

		@if $base != null {
			$value : calc(var(--#{$prefix}base) * var(--#{$prefix}ratio));

			@if $i > 1 {
				$suffix-prev : get-suffix($_suffix, $length, $i - 1);
				$value       : calc(var(--#{$prefix}#{$suffix-prev}) * var(--#{$prefix}ratio));
			}

			@if $preserve > 1 {
				$value : get-preserved-value($base, $ratio, $preserve, $prefix, if($i > 1, $suffix-prev, $suffix), $i);
			}
		}

		@if $src-type == list or $src-type == map {
			$value : nth($src, $i);

			@if $src-type == map {
				$prefix : nth($keys, $i);
				$suffix : '';
			}
		}

		--#{$prefix}#{$suffix} : #{$value}; // The css custom property generated

		// The utility class generated
		@if $utils {
			@at-root .#{$prefix}#{$suffix} {
				#{$property} : var(--#{$prefix}#{$suffix});
			}
		}
	}

	@if ($breakpoints != null) {
		@for $i from 1 through length($breakpoints) {
			$breakpoint : nth(nth($breakpoints, $i), 1);
			$base       : map-get($breakpoints, $breakpoint, 'base');
			$ratio      : map-get($breakpoints, $breakpoint, 'ratio');
			$src        : map-get($breakpoints, $breakpoint, 'src');
			$src-type   : type-of($src);

			@if $src-type == map {
				$keys : list-converted($src, 'keys');
				$src  : list-converted($src, 'values');
			}

			@media (#{$break-at}-width: $breakpoint) {

				@if $base != null {
					--#{$prefix}base : #{$base};
				}

				@if $ratio != null {
					--#{$prefix}ratio : #{$ratio};
				}

				@if $src != null {
					$x : 1;
					$y : $src-length - length($src) + 1;

					@while $y <= $src-length {
						$suffix                : get-suffix($_suffix, $src-length, $y);
						$value                 : nth($src, $x);

						@if $src-type == map {
							$prefix : nth($keys, $x);
							$suffix : '';
						}

						--#{$prefix}#{$suffix} : #{$value}; // The css custom property generated

						$y                     : $y + 1;
						$x                     : $x + 1;
					}
				}
			}
		}
	}
}

