@charset "UTF-8";
@use 'sass:list' as *;
@use 'sass:map' as *;
@use 'sass:math' as *;
@use '../list' as *;
@use '../math' as *;
@use '../color' as *;
@use 'functions' as *;
@use 'variables' as *;
@forward 'variables';


@mixin compile-types-config($config, $mixin, $property, $base, $ratio, $length, $preserve, $utils, $src, $prefix, $suffix) {

	// Create local private config from parameters.
	$_config : (
			'mixin': $mixin,
			'property' : $property,
			'base' : $base,
			'ratio' : $ratio,
			'length' : $length,
			'preserve' : $preserve,
			'utils' : $utils,
			'src' : $src,
			'prefix' : $prefix,
			'suffix' : $suffix,
			'break-at' : 'max', // refactor
	);

	// If config is not null, merge the config with the local private config.
	@if $config != null {
		$_config : deep-merge($_config, map-get($config, $mixin));
	}

	@include _generate-types-scale($_config)
}

@mixin compile-colors-config($config, $mixin, $src, $tints, $shades, $format, $utils, $prefix, $prefix-fc, $prefix-bg, $suffix, $themes) {

	// Create local private config from parameters.
	$_config : (
			'src' : $src,
			'tints' : $tints,
			'shades' : $shades,
			'format' : $format,
			'utils' : $utils,
			'prefix' : $prefix,
			'prefix-fc' : $prefix-fc,
			'prefix-bg' : $prefix-bg,
			'suffix' : $suffix,
			'themes' : $themes,
	);

	@if $config != null {
		$_config : deep-merge($_config, map-get($config, $mixin));
	}

	@include _pre-generate-colors($_config)
}


@mixin _pre-generate-colors($config) {
	$src       : map-get($config, 'src');
	$map       : $src;
	$src-theme : null;

	@for $i from 1 through if($src-theme == null, 1, 2) {

		//@if length($src) == 1 {
		//	@if $src-theme != null and $i > length($map) {
		//		$map         : $src-theme;
		//		$dark-scheme : true;
		//	}
		//} @else {
		//	@if $src-theme != null and $i >= length($map) {
		//		$map         : $src-theme;
		//		$dark-scheme : true;
		//	}
		//}

		@include _generate-colors($config, $map, true);

		//@if $dark-scheme == false {
		//} @else {
		//	@media (prefers-color-scheme : #{$theme}) {
		//		@include _generate-colors($config, $map, false);
		//	}
		//}
	}
}

@mixin _generate-colors($config, $src, $allowed-utils) {
	$tints     : map-get($config, 'tints');
	$shades    : map-get($config, 'shades');
	$format    : map-get($config, 'format');
	$prefix    : map-get($config, 'prefix');
	$prefix-fc : map-get($config, 'prefix-fc');
	$prefix-bg : map-get($config, 'prefix-bg');
	$suffix    : map-get($config, 'suffix');
	$utils     : map-get($config, 'utils');

	$_suffix   : '';
	$colors    : ();


	//$tints     : list-reverse($tints);

	@if not $allowed-utils {
		$utils : false;
	}

	@each $key, $value in $src {
		@if type-of($tints) == map {
			@each $_, $v in $tints {
				$tints : $v;

				@debug $v;
			}
		}

		@if type-of($value) == 'color' {
			@if $tints != null {
				@for $x from 1 through length($tints) {
					$_value : color-format(mix(white, $value, nth($tints, $x)), $format);
					$colors : append($colors, $_value);
				}
			}

			$_value : color-format($value, $format);
			$colors : append($colors, $_value);

			@if $shades != null {
				@for $x from 1 through length($shades) {
					$_value : color-format(mix(black, $value, nth($shades, $x)), $format);
					$colors : append($colors, $_value);
				}
			}
		} @else {
			$colors : $value;
		}

		@for $x from 1 through length($colors) {
			$_suffix                       : '-#{get-suffix($suffix, length($colors), $x)}';
			$value                         : nth($colors, $x);

			--#{$prefix}#{$key}#{$_suffix} : #{$value};

			@if $utils {
				@at-root .#{$prefix-fc}#{$key}#{$_suffix} {
					color : var(--#{$prefix}#{$key}#{$_suffix});
				}
				@at-root .#{$prefix-bg}#{$key}#{$_suffix} {
					background-color : var(--#{$prefix}#{$key}#{$_suffix});

				}
			}
		}

		$colors : ();
	}
}

@mixin _generate-types-scale($config) {

	$mixin       : map-get($config, 'mixin');
	$property    : map-get($config, 'property');
	$base        : map-get($config, 'base');
	$ratio       : map-get($config, 'ratio');
	$length      : map-get($config, 'length');
	$preserve    : map-get($config, 'preserve');
	$utils       : map-get($config, 'utils');
	$src         : map-get($config, 'src');
	$prefix      : map-get($config, 'prefix');
	$suffix      : map-get($config, 'suffix');
	$break-at    : map-get($config, 'break-at');
	$breakpoints : map-get($config, 'breakpoints');

	$base-min    : null;
	$base-max    : null;
	$ratio-min   : null;
	$ratio-max   : null;
	$value       : null;
	$keys        : null;
	$suffix-prev : null;
	$_suffix     : $suffix;
	$src-length  : length($src);
	$src-type    : type-of($src);
	$length      : if($length != null, $length, $src-length);
	$is-fluid    : if($mixin == 'fluid-space-types' or $mixin == 'fluid-font-types', true, false);

	@if not $is-fluid and $base != null {
		--#{$prefix}ratio : #{$ratio};
		--#{$prefix}base  : #{$base};
	}

	@if $is-fluid and $base != null {
		$base-min  : map-get($base, 'min');
		$base-max  : map-get($base, 'max');
		$ratio-min : map-get($ratio, 'min');
		$ratio-max : map-get($ratio, 'max');
	}

	@if $src-type == map {
		$keys       : list-converted($src, 'keys');
		$src        : list-converted($src, 'values');
		$src-length : length($src);
	}

	@for $i from 1 through $length {
		$suffix                : get-suffix($_suffix, $length, $i);

		@if $is-fluid and $base != null {
			$min   : $base-min * math.pow($ratio-min, $i - 1);
			$max   : $base-max * math.pow($ratio-max, $i - 1);
			$value : #{clamped($min, $max, $width-xs, $width-xl)};
		}

		@if not $is-fluid and $base != null {
			$value : calc(var(--#{$prefix}base) * var(--#{$prefix}ratio));

			@if $i > 1 {
				$suffix-prev : get-suffix($_suffix, $length, $i - 1);
				$value       : calc(var(--#{$prefix}#{$suffix-prev}) * var(--#{$prefix}ratio));
			}

			@if $preserve > 1 {
				$value : get-preserved-value($base, $ratio, $preserve, $prefix, if($i > 1, $suffix-prev, $suffix), $i);
			}
		}

		@if $src-type == list or $src-type == map {
			$value : nth($src, $i);

			@if $src-type == map {
				$prefix : nth($keys, $i);
				$suffix : '';
			}
		}

		--#{$prefix}#{$suffix} : #{$value}; // The css custom property generated

		// The utility class generated
		@if $utils {
			@at-root .#{$prefix}#{$suffix} {
				#{$property} : var(--#{$prefix}#{$suffix});
			}
		}
	}

	@if ($breakpoints != null) {
		@for $i from 1 through length($breakpoints) {
			$breakpoint : nth(nth($breakpoints, $i), 1);
			$base       : map-get($breakpoints, $breakpoint, 'base');
			$ratio      : map-get($breakpoints, $breakpoint, 'ratio');
			$src        : map-get($breakpoints, $breakpoint, 'src');
			$src-type   : type-of($src);

			@if $src-type == map {
				$keys : list-converted($src, 'keys');
				$src  : list-converted($src, 'values');
			}

			@media (#{$break-at}-width: $breakpoint) {

				@if $base != null {
					--#{$prefix}base : #{$base};
				}

				@if $ratio != null {
					--#{$prefix}ratio : #{$ratio};
				}

				@if $src != null {
					$x : 1;
					$y : $src-length - length($src) + 1;

					@while $y <= $src-length {
						$suffix                : get-suffix($_suffix, $src-length, $y);
						$value                 : nth($src, $x);

						@if $src-type == map {
							$prefix : nth($keys, $x);
							$suffix : '';
						}

						--#{$prefix}#{$suffix} : #{$value}; // The css custom property generated

						$y                     : $y + 1;
						$x                     : $x + 1;
					}
				}
			}
		}
	}
}

