$width-xxl : 120em !default;
$width-xl  : 90em !default;
$width-lg  : 64em !default;
$width-md  : 48em !default;
$width-sm  : 30em !default;
$width-xs  : 22.5em !default;
$width-xxs : 20.625em !default;
