@charset "UTF-8";
@use 'sass:map' as *;
@use 'mixins' as *;
@forward 'maps' hide $breakpoints, $ratios, $suffixes;

@mixin utilities(
	$config: null,
	$auto: false,
	$src: null,
) {

	$mixin : 'utilities';

	@include compile-utilities-config($config, $mixin, $auto, $src);
}

@mixin colors(
	$config: null,
	$src: null,
	$tints: null,
	$shades: null,
	$format: 'hsl()',
	$utils: true,
	$prefix: 'clr-',
	$prefix-color: 'fc-',
	$prefix-bg: 'bg-',
	$suffix: 'numeric',
) {

	$mixin : 'colors';

	@include compile-colors-config($config, $mixin, $src, $tints, $shades, $format, $utils, $prefix, $prefix-color, $prefix-bg, $suffix);
}

@mixin fluid-font-types(
	$config: null,
	$base: null,
	$ratio: null,
	$length: null,
	$utils: true,
	$src: null,
	$prefix: 'fs-fluid-',
	$suffix: 'numeric') {

	$preserve : 0; // Removed from the config

	$mixin    : 'fluid-font-types';
	$property : 'font-size';

	@include compile-types-config($config, $mixin, $property, $base, $ratio, $length, $preserve, $utils, $src, $prefix, $suffix);
}

@mixin fluid-space-types(
	$config: null,
	$base: null,
	$ratio: null,
	$length: null,
	$utils: true,
	$src: null,
	$prefix: 'space-fluid-',
	$suffix: 'numeric') {

	$preserve : 0; // Removed from the config

	$mixin    : 'fluid-space-types';
	$property : '--space';

	@include compile-types-config($config, $mixin, $property, $base, $ratio, $length, $preserve, $utils, $src, $prefix, $suffix);
}

@mixin font-types(
	$config: null,
	$base: null,
	$ratio: null,
	$length: null,
	$preserve: 0,
	$utils: true,
	$src: null,
	$prefix: 'fs-',
	$suffix: 'numeric') {

	$mixin    : 'font-types';
	$property : 'font-size';

	@include compile-types-config($config, $mixin, $property, $base, $ratio, $length, $preserve, $utils, $src, $prefix, $suffix);
}

@mixin space-types(
	$config: null,
	$base: null,
	$ratio: null,
	$length: null,
	$preserve: 0,
	$utils: true,
	$src: null,
	$prefix: 'space-',
	$suffix: 'numeric') {

	$mixin    : 'space-types';
	$property : '--space';

	@include compile-types-config($config, $mixin, $property, $base, $ratio, $length, $preserve, $utils, $src, $prefix, $suffix);
}

/*
/// Main generator mixin, which can call other mixins and output various types of css properties based on the config.
/// @author - Martin Kamír
/// @access public
/// @example: $config: (
/// font-types' / 'space-types' : (
/// 	'base' {number} - Accepts a number with unit.
/// 	'ratio' {number/string} - Accepts a integer or string from $ratios map.
/// 	'length' {number} - The length of the generated css properties. Number must be with no unit.
/// 	'preserve' {number} - The number of how many css properties will be preserved. Means the values will ignore any future changes of $base and $ratio.
/// 	'utils' {boolean} - Enables or disables the generation of utility classes.
/// 	'prefix' {string} - The name of css property and utility classes.
/// 	'suffix' {string} - Defines the order of the css properties and utility classes. Suffix has many options from $suffixes map, or using numeric, numeric-hundreds. Also custom suffixes can be used as list.
/// 	'src' {list, map} - Source of custom values from list or map.
/// 	'break-at' {string} - Defines the min-width or max-width of the breakpoint by calling 'min' or 'max'.
/// 	'breakpoints' {map}  - Defines the breakpoints and values to be changed.
/// 	),
/// fluid-font-types' / 'fluid-space-types' : (
/// 	'base' {number/map} - Accepts a number with unit or map for fluid scaling with keys 'min' and 'max' with values of numbers with units.
/// 	'ratio' {number/string/map} - Accepts a integer or string from $ratios map or map for fluid scaling with keys 'min' and 'max' with values of integers or strings from $ratios map.
///     THE REST IS SAME as 'font-types' / 'space-types' configuration
/// 	),
/// colors' : (
/// 	'src' {map} - The source values of colors.
/// 	'tints' {list} - Defining the values for tints of colors as percentages.
/// 	'shades' {list} - Same as $tints but for shades.
/// 	'format' {string} - Defines the output color format.
/// 	'utils' {boolean} - Enables or disables the generation of utility classes.
/// 	'prefix' {string} - Defines the prefix for generated css variable.
/// 	'prefix-text' {string} - Defines the name of utility classes for the color property.
/// 	'prefix-bg' {string} - Defines the name of utility classes for the background property.
/// 	'suffix' {string} - Defines the order of the css properties and utility classes. Suffix has many options from $suffixes map, or using numeric, numeric-hundreds. Also custom suffixes can be used as list.
/// 	),
/// 'utilities' : (
/// 	'auto' {boolean} - Enables if all predefined maps should be generated.
/// 	'src' {map} - The source maps to generate.
/// 	),
/// The utilities generator also gives ability for source maps to be able generate utility classes with key 'utils' to true and key 'property' to be used.
 */
@mixin all($config) {
	@if map-has-key($config, 'font-types') {
		@include font-types($config);
	}

	@if map-has-key($config, 'space-types') {
		@include space-types($config);
	}

	@if map-has-key($config, 'fluid-font-types') {
		@include fluid-font-types($config);
	}

	@if map-has-key($config, 'fluid-space-types') {
		@include fluid-space-types($config);
	}

	@if map-has-key($config, 'colors') {
		@include colors($config);
	}

	@if map-has-key($config, 'utilities') {
		@include utilities($config);
	}
}