@charset "UTF-8";


@function get-hsl($value, $hsl: true) {
	$hue : math.round(color.hue($value));
	$saturation : math.round(color.saturation($value));
	$lightness : math.round(color.lightness($value));

	@if $hsl {
		@return hsl($hue, $saturation, $lightness);
	} @else {
		@return '#{$hue, $saturation, $lightness}';
	}
}