@charset "UTF-8";
@use "sass:string";
@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "sass:list";

@import './lists/list-of-directions';
@import './lists/list-of-layers';

@import './properties/aspect-ratios';
@import './properties/borders';
@import './properties/breakpoints';
@import './properties/color-palette';
@import './properties/easing';
@import './properties/animations';
@import './properties/shadows';
@import './properties/sizes';
@import './properties/typography';
@import './properties/tokens';

@import './maps/map-for-borders';
@import './maps/map-for-breakpoints';
@import './maps/map-for-flexbox';
@import './maps/map-for-font-weights';
@import './maps/map-for-font-sizes';
@import './maps/map-for-colors';
@import './maps/map-for-directions';
@import './maps/map-for-laptops';
@import './maps/map-for-letterspacing';
@import './maps/map-for-lineheights';
@import './maps/map-for-pc';
@import './maps/map-for-shadows';
@import './maps/map-for-sizes';
@import './maps/map-for-phones';
@import './maps/map-for-tablets';

@import './utilities/clear-unit';
@import './utilities/clear-whitespace';
@import './utilities/convert-to-em';
@import './utilities/convert-to-number';
@import './utilities/darken';
@import './utilities/font-sizer';
@import './utilities/font-source';
@import './utilities/is-color';
@import './utilities/is-number';
@import './utilities/is-time';
@import './utilities/lighten';
@import './utilities/map-deep-get';
@import './utilities/null';
@import './utilities/pixelify';
@import './utilities/pseudo-selector';
@import './utilities/remify';
@import './utilities/shorthand-property';
@import './utilities/string-to-number';
@import './utilities/validate-breakpoint';
@import './utilities/validate-length';
@import './utilities/validate-scissors';

@import 'functions/color-mixer';
@import 'functions/layer';
@import 'functions/em';

@import './library/absolute';
@import './library/animation';
@import './library/breakpoint-landscape';
@import './library/breakpoint';
@import './library/except';
@import './library/fixed';
@import './library/flex';
@import './library/hide';
@import './library/laptop';
@import './library/loadify';
@import './library/flow';
@import './library/only';
@import './library/pc';
@import './library/phone';
@import './library/remove';
@import './library/screen-agent';
@import './library/size';
@import './library/tablet';
@import './library/text-shadow';
@import './library/text-stroke';

// WIP
@import 'map-keys';
@import 'map-for-ratios';
@import 'scalable-system';
@import 'remove-unit';
@import './utilities/string-replace';
@import 'number-slice';
@import 'list-slice';
@import 'list-reverse';
@import 'map-for-suffixes';

$map-for-font-s  : (
		'f-size-1a' : 2.1,
		'f-size-2a' : 2.2,
		'f-size-3a' : 2.3,
		'f-size-4a' : 2.4,
		'f-size-5a' : 2.5,
		'f-size-55a' : 2.5,
		'f-size-541a' : 2.5,
		'f-size-5541a' : 2.5,
		'f-size-6a' : 2.6,
		'f-size-7a' : 2.7rem,
		'f-size-8a' : 2.8,
		'f-size-9a' : 2.9rem,
		'f-size-10a' : 3rem,
);

$list-for-font-s : (1, 2, 3, 4.5);

// WIP
@function __generate-value($base, $ratio, $preserve, $i) {

	@if ($preserve >= $i) {
		$get-number : __scalable-system($base, $ratio, $preserve, $i);
		$sliced-number : __number-slice($get-number);
		$number : $sliced-number;

		@return $number;
	} @else if ($preserve + 1 == $i) {
		$get-number : __scalable-system($base, $ratio, $preserve, $i);
		$number : $get-number;

		@return $number;
	} @else {

		@return calc(var(--f-size-#{$i - 1}) * var(--ratio));
	}
}


/** WIP
 * Returns scaled value of `$number`.
 *
 * @author - Martin Kamír
 *
 * @example
 * __scale-number(1rem, 50%) => 0.5rem;
 * __scale-number(1rem, 150) => 1.5rem;
 * @overload __scale-number($number, $scale: 100%)
 * @param $number {number} - The number that is being scaled. Accepts only numbers with rem unit or no unit.
 * @param $decrease {number} - Value that is being scaled by. Accepts only numbers with % unit or no unit.
 * @return scaled number
 */
@function __scale-number($number, $scale: 100%) {

	// Checks if `$scale` is not number
	@if (meta.type-of($scale) != 'number') {
		@error 'Value of `$scale` must be a number.';
	}

	// Checks if `$scale` have `%` as unit or is `unitless`
	@if (math.unit($scale) != '%' and math.is-unitless($scale) != true or meta.type-of($scale) != 'number') {
		@error 'Unit of `$scale` must be only in % or unitless. Change your #{$scale} to #{__string-replace(#{$scale}, #{math.unit($scale)}, '%')} or #{__string-replace(#{$scale}, #{math.unit($scale)}, '')} without any unit.';
	}

	// Checks if value of `$scale` is less than `0`
	@if ($scale < 0) {
		@error 'Value of `$scale => #{$scale}` must be greater than `0`.';
	}

	@if (math.unit($number) != 'rem' and math.is-unitless($number) != true) {
		@error 'Number must be only in rem or unitless. Change your #{$number} to #{__string-replace(#{$number}, #{math.unit($number)}, 'rem')} or #{__string-replace(#{$number}, #{math.unit($number)}, '')} without any unit.';
	}

	$scale : __remove-unit($scale, '%'); // Remove unit `%` from `$scale`
	$number : math.div($number, 100) * $scale; // Calculates new value of `$number`
	$number : __remove-unit($number); // Remove unit `rem` from `$number`. In case if `$number` already have `rem` unit then the output would be 1remrem instead of 1rem. At @return the unit is add back.

	@return $number + 'rem'; // Returns new value of `$number` and adds the`rem` unit.
}

/**
 * Returns `$list` of corresponding suffixes. Based on `$set-suffix`.
 *
 * NOTE: This is helper function for function `__get-suffix-list`.
 *
 * @author - Martin Kamír
 *
 * @example
 * __get-suffix-list('size-x-minmax', (1rem, 2rem, 3rem, 4rem, 5rem), $minmax: true) => (min, s, m, l, max);
 * __get-suffix-list('size-x', (1rem, 2rem, 3rem, 4rem, 5rem)) => (xs, s, m, l, xl);
 * __get-suffix-list('size-minmax', (1rem, 2rem, 3rem, 4rem, 5rem), $minmax: true) => (min, small, medium, large, max);
 * @overload __get-suffix-list($set-suffix, $set-list-of-values, $minmax: false)
 * @param $set-suffix {string} - Name of the set suffix that will be used in outputting the suffix. Which is originally called from main `@mixin` as `suffix` parameter.
 * @param $set-list-of-values {list} - List of values that are being used for generating. Which is originally called from main `@mixin` as `$custom-sizes` parameter.
 * @param $minmax {boolean} - As default set to false. If set to true, suffixes will be generated for `min` and `max` values.
 * @return list of suffixes
 */
@function __get-suffix-list($set-suffix, $set-list-of-values, $minmax: false) {
	// Get higher and lower suffixes list from map for suffixes
	$get-lower-list : map.get($map-for-suffixes, $set-suffix, lower-values);
	$get-higher-list : map.get($map-for-suffixes, $set-suffix, higher-values);

	@debug $set-list-of-values;
	@debug $set-list-of-values;

	// Get the minimum and maximum index by
	// 1. Getting the length of the list
	// 2. Dividing the length of list by half
	// 3. For the minimum index ceil the number up to the next integer. For the maximum index floor the number down to the next integer
	$min-index : math.ceil(math.div($set-list-of-values, 2));
	$max-index : math.floor(math.div($set-list-of-values, 2));

	// Slice the list to get the minimum and maximum values
	$lower-list : __list-slice($get-lower-list, $end : $min-index);
	$higher-list : __list-slice($get-higher-list, $end : $max-index);


	// If `$minmax` is true, add `min` and `max` values to the list
	@if ($minmax == true) {
		$lower-list : list.set-nth($lower-list, -1, 'min');
		$higher-list : list.set-nth($higher-list, -1, 'max');
	}

	// Concatenate the lower and higher list.
	// The lower list will be at the beginning of the list. That is why we need to reverse the lower list.
	// The higher list will be at the end of the list.
	$list : list.join(__list-reverse($lower-list), $higher-list);

	@return $list; // Return the list of suffixes
}

/**
 * Returns string or number(as string) of suffix based on current `$i`, which have to corresponding with `$set-suffix`.
 *
 * @author - Martin Kamír
 *
 * @example
 * __get-suffix(numeric, (1rem, 2.2rem, 2.5rem, 4rem, 5rem), 2.2rem, 2) => 2;
 * __get-suffix(numeric-hundreds, (1rem, 2.2rem, 2.5rem, 4rem, 5rem), 2.2rem, 2) => 200;
 * __get-suffix(hard-suffix, (1rem, 2.2rem, 2.5rem, 4rem, 5rem), 2.5rem, 3) => 2-5;
 * __get-suffix((1A, 2A, 3A, 4A, 5A, 6A), (1rem, 2.2rem, 2.5rem, 4rem, 5rem), 4rem, 4) => 4A;
 * __get-suffix(roman, (1rem, 2.2rem, 2.5rem, 4rem, 5rem), 2.5rem, 3) => III;
 * __get-suffix(size, (1rem, 2rem, 3rem, 4rem, 5rem), 3rem, 3) => medium;
 * __get-suffix(size-x-minmax, (1rem, 2rem, 3rem, 4rem, 5rem), 1rem, 1) => min;
 * __get-suffix(size-and-number, (1rem, 2rem, 3rem, 4rem, 5rem), 1rem, 1) => small-2;
 * __get-suffix(size-and-x, (1rem, 2rem, 3rem, 4rem, 5rem), 5rem, 5) => big-xl;
 *
 * @overload __get-suffix($set-suffix: 'numeric', $set-list-of-values, $hard-suffix, $i)
 *
 * @param $set-suffix {string} - As default set to `numeric`.
 * It is name of the set suffix that will be used in outputting the suffix.
 * Which is originally called from main `@mixin` as `suffix` parameter.
 *
 * @param $set-list-of-values {list} - List of values that are being used for generating.
 * Which is originally called from main `@mixin` as `$custom-sizes` parameter.
 *
 * @param $hard-suffix {number} - The actual value based on current index in loop which is generated. The value will be used as suffix so it is hard coded value/suffix.
 * @param $i {number} - The current index in loop.
 * @return string suffix
 */
@function __get-suffix($config-params: null, $set-suffix: 'numeric') {
	$set-list-of-values : map.get($config-params, 'list-of-values');
	$hard-suffix : map.get($config-params, 'hard-suffix');
	$i : map.get($config-params, 'i');

	@if ($set-suffix == 'numeric') {
		@return $i; // Returns the current number based on the index

	} @else if ($set-suffix == 'numeric-hundreds') {
		@return $i + '00'; // Returns the current number based on the index and adds `00` to the end

	} @else if ($set-suffix == 'hard-suffix') {
		// Remove `unit` from `number` and replace `.` with `-`. Because `.` is not allowed in class names
		$suffix : __string-replace(__string-replace($hard-suffix, 'rem'), '.', '-');
		@return $suffix;

	} @else if (meta.type-of($set-suffix) == 'list') {
		// Checks if `$set-suffix` is list. Which means that is custom suffixes list
		@return list.nth($set-suffix, $i); // Returns suffix from list based on current `$i` in loop

	} @else if (list.index(('roman', 'greek', 'military', 'planets', 'nato', 'emojis', 'alphabet', 'alphabet-upper', 'primary'), $set-suffix)) {
		// Get corresponding suffix list based on `$set-suffix`
		$list-of-suffixes : map.get($map-for-suffixes, $set-suffix);

		@return list.nth($list-of-suffixes, $i); // Returns suffix from list based on current `$i` in loop
	} @else if (list.index(('size', 'size-minmax', 'size-x', 'size-x-minmax', 'size-gradation', 'size-gradation-minmax', 'size-and-number', 'size-and-number-minmax', 'size-and-x', 'size-and-x-minmax'), $set-suffix)) {

		// Map which holds corresponding suffixes for `size scaling`
		$map-of-suffixes : (
				'size' : __get-suffix-list('size', $set-list-of-values),
				'size-minmax' : __get-suffix-list('size-minmax', $set-list-of-values, $minmax : true),
				'size-x' : __get-suffix-list('size-x', $set-list-of-values),
				'size-x-minmax' : __get-suffix-list('size-x-minmax', $set-list-of-values, $minmax : true),
				'size-gradation' : __get-suffix-list('size-gradation', $set-list-of-values),
				'size-gradation-minmax' : __get-suffix-list('size-gradation-minmax', $set-list-of-values, $minmax : true),
				'size-and-number' : __get-suffix-list('size-and-number', $set-list-of-values),
				'size-and-number-minmax' : __get-suffix-list('size-and-number-minmax', $set-list-of-values, $minmax : true),
				'size-and-x' : __get-suffix-list('size-and-x', $set-list-of-values),
				'size-and-x-minmax' : __get-suffix-list('size-and-x-minmax', $set-list-of-values, $minmax : true)
		);

		// Loop over map and check if `$set-suffix` corresponding with `$key-suffix`
		@each $key-suffix, $list-of-suffixes in $map-of-suffixes {
			@if ($set-suffix == $key-suffix) {
				@return list.nth($list-of-suffixes, $i); // Returns suffix from list based on current `$i` in loop
			}
		}
	} @else {
		@error 'Invalid suffix type of #{$set-suffix}. Valid types are: #{__map-keys($map-for-suffixes)}';
	}
}

@function __set-suffix($set-suffix, $set-seperated-suffix, $set-list-of-values, $hard-suffix, $i) {
	$config-params : (
			'list-of-values' : $set-list-of-values,
			'hard-suffix' : $hard-suffix,
			'i' : $i
	);

	@if ($set-seperated-suffix != null) {
		@return __get-suffix($config-params, $set-seperated-suffix);
	} @else {
		@return __get-suffix($config-params, $set-suffix);
	}
}

@function __set-prefix($set-prefix, $set-seperated-prefix) {
	@if ($set-seperated-prefix != null) {
		@return $set-seperated-prefix;
	} @else {
		@return $set-prefix;
	}
}

//$base
//$ratio
//$types
//$preserve - needs to change
//$utility-classes
//$custom-sizes
//$scale
//$prefix
//$suffix
//$prefix-class
//$suffix-class
//$prefix-variable
//$suffix-variable
@mixin generate-type-scale($base: null, $ratio: null, $types: null, $preserve: 0, $utility-classes: true, $custom-values: null, $scale: 100%, $prefix: 'f-size-', $suffix: 'numeric', $prefix-class: null, $prefix-variable: null, $suffix-class: null, $suffix-variable: null) {

	$list-length : list.length($custom-values);

	$output-prefix-variable : __set-prefix($prefix, $prefix-variable);

	// LIST CUSTOM
	@if (meta.type-of($custom-values) == list) {
		@for $i from 1 through list.length($custom-values) {
			$value                                                 : __scale-number(list.nth($custom-values, $i), $scale);
			$output-suffix-variable                                : __set-suffix($suffix, $suffix-variable, $custom-values, $value, $i);

			--#{$output-prefix-variable}#{$output-suffix-variable} : #{$value};

			@if ($utility-classes) {
				$output-prefix-class : __set-prefix($prefix, $prefix-class);
				$output-suffix-class : __set-suffix($suffix, $suffix-class, $custom-values, $value, $i);

				@at-root .#{$output-prefix-class}#{$output-suffix-class} {
					font-size : var(--#{$output-prefix-variable}#{$output-suffix-variable});
				}
			}
		}

		// MAP CUSTOM
	} @else if (meta.type-of($custom-values) == map) {
		@each $key, $value in $custom-values {
			$value    : __scale-number($value, $scale);
			--#{$key} : #{$value};

			@if (utility-classes) {
				@at-root .#{$key} {
					font-size : var(--#{$key});
				}
			}
		}

		// GENERATING TYPE SCALE
	} @else {
		$TYPES_MAX_LIMIT : 40;
		$TYPES_MIN_LIMIT : 3;
		--f-size-base    : #{$base};

		@if ($types > $TYPES_MAX_LIMIT) {
			@error "The maximum number of types is 40. Use smaller number than #{$types}.";
		} @else if ($types < $TYPES_MIN_LIMIT) {
			@error "The minimum number of types is 3. Use larger number than #{$types}.";
		} @else if ($preserve > $types) {
			@error "The preserve number is larger than the number of types. Use smaller number than #{$types}.";
		}

		@if (meta.type-of($ratio) == string) {
			$ratio  : map.get($map-for-ratios, $ratio);
			--ratio : #{$ratio};
		} @else {
			--ratio : #{$ratio};
		}

		@if ($preserve == 0) {
			@for $i from 1 through $types {
				$value                  : null;
					$custom-values                                         : $types;
				$output-suffix-variable : __set-suffix($suffix, $suffix-variable, $custom-values, $value, $i);

				@if ($i == 1) {
					$custom-values                                         : $types;
					$output-suffix-variable                                : __set-suffix($suffix, $suffix-variable, $custom-values, $value, $i);
					--#{$output-prefix-variable}#{$output-suffix-variable} : calc(var(--f-size-base) * var(--ratio));
				} @else {
					$custom-values                                         : $types;
					$last-output-suffix-variable                           : __set-suffix($suffix, $suffix-variable, $custom-values, $value, $i - 1);

					--#{$output-prefix-variable}#{$output-suffix-variable} : calc(var(--#{$output-prefix-variable}#{$last-output-suffix-variable}) * var(--ratio));

				}
			}

		} @else {
			$base      : math.div($base, $ratio);
			--f-size-0 : #{$base};

			@for $i from 1 through $types {
				--f-size-#{$i} : #{__generate-value($base, $ratio, $preserve, $i)};
			}
		}

		@if ($utility-classes) {
			@for $i from 1 through $types {
				@at-root .f-size-#{$i} {
					font-size : var(--f-size-#{$i});
				}
			}
		}
	}
}

:root {
	//@include generate-type-scale($custom-values : $list-for-font-s);
	@include generate-type-scale($base : 1rem, $types : 5, $ratio : 1.125, $prefix-variable : 'text-', $suffix : 'size');

	//@include breakpoint(max, 1000px) {
	//@include generate-type-scale($custom: (1rem,2,3rem,4), $utility-classes : true);

}

