
@function _get-scale($b, $r, $pre, $i, $p) {
	@if ($i == 1) {
		@if ($pre >= 1) {
			$calc : $b * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio));
		}
	}
	@if ($i == 2) {
		@if ($pre >= 2) {
			$calc : $b * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio));
		}
	}
	@if ($i == 3) {
		@if ($pre >= 3) {
			$calc : $b * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}
	@if ($i == 4) {
		@if ($pre >= 4) {
			$calc : $b * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 5) {
		@if ($pre >= 5) {
			$calc : $b * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 6) {
		@if ($pre >= 6) {
			$calc : $b * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 7) {
		@if ($pre >= 7) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 8) {
		@if ($pre >= 8) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 9) {
		@if ($pre >= 9) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 10) {
		@if ($pre >= 10) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 11) {
		@if ($pre >= 11) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 12) {
		@if ($pre >= 12) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 13) {
		@if ($pre >= 13) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 14) {
		@if ($pre >= 14) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 15) {
		@if ($pre >= 15) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 16) {
		@if ($pre >= 16) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 17) {
		@if ($pre >= 17) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 18) {
		@if ($pre >= 18) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 19) {
		@if ($pre >= 19) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 20) {
		@if ($pre >= 20) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 21) {
		@if ($pre >= 21) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 22) {
		@if ($pre >= 22) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 23) {
		@if ($pre >= 23) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 24) {
		@if ($pre >= 24) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 25) {
		@if ($pre >= 25) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 26) {
		@if ($pre >= 26) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 27) {
		@if ($pre >= 27) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 28) {
		@if ($pre >= 28) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 29) {
		@if ($pre >= 29) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 30) {
		@if ($pre >= 30) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 31) {
		@if ($pre >= 31) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 32) {
		@if ($pre >= 32) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 33) {
		@if ($pre >= 33) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 34) {
		@if ($pre >= 34) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 35) {
		@if ($pre >= 35) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 36) {
		@if ($pre >= 36) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 37) {
		@if ($pre >= 37) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 38) {
		@if ($pre >= 38) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 39) {
		@if ($pre >= 39) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}

	@if ($i == 40) {
		@if ($pre >= 40) {
			$calc : $b * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r * $r;
			@return $calc;
		} @else {
			@return calc(var(--#{$p}base) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
		}
	}
}
