


@mixin size($width: null, $height: null) {
	width  : $width;
	height : $height or $width;
}

@mixin max-size($width: null, $height: null) {
	max-width  : $width;
	max-height : $height or $width;
}

@mixin min-size($width: null, $height: null) {
	min-width  : $width;
	min-height : $height or $width;
}

@mixin flow($gap, $direction: 'block') {
	@if ($direction == 'block') {
		& > * + * {
			margin-top : $gap;
		}
	} @else if ($direction == 'inline') {
		& > * + * {
			margin-left : $gap;
		}
	}
}

// Generate stack classes if key is 'spaces' and utility-classes are set to true.
@if ($key == 'space-types' or $key == 'fluid-space-types') and $utility-classes == true {
	@at-root .stack {
		display : grid;
		gap     : var(--space, var(--#{$prefix}base));
	}
	@at-root .stack > * {
		margin : 0;
	}
}

