// Default variables
$space          : 0;
$measure        : 0;

// Screen breakpoints
$width-xxl      : 120em;
$width-xl       : 90em;
$width-lg       : 64em;
$width-md       : 48em;
$width-sm       : 30em;
$width-xs       : 22.5em;
$width-xxs      : 20.625em;

// Lists
$list-of-layers : ('base');

// - delete unused stuff ✅
// - improve the architecture (separate everything) ✅
// - make it work again
// - refactor
// - improve configuration
// - add new features:
//    - custom media properties
//    - xxx
//    - xxx
//    - xxx
