@charset "UTF-8";

/**
 * Returns converted pixel value to _em value.
 *
 */
@function _em($pixels, $context: $agent-size) {
	@if (unitless($pixels)) {
		$pixels : $pixels * 1px;
	}

	@if (unitless($context)) {
		$context : $context * 1px;
	}

	@return math.div($pixels, $context) * 1em;
}