@charset "UTF-8";

@function _number-round($number, $places: 0) {
	$n : 1;
	@if $places > 0 {
		@for $i from 1 through $places {
			$n : $n * 10;
		}
	}
	@return math.div(math.round($number * $n), $n);
}