@charset "UTF-8";

/**
 * Generates css properties of given parameters in config.
 *
 * NOTE: This function is main building block for the generated types scale functionality, which controls generating the css properties.
 *
 * @author - Martin Kamír
 *
 */
@mixin _generate-types-scale($config) {

	// Getting all the values from the config map.
	$key             : map-get($config, 'key');
	$selector        : map-get($config, 'selector');
	$base            : map-get($config, 'base');
	$ratio           : map-get($config, 'ratio');
	$length          : map-get($config, 'length');
	$preserve        : map-get($config, 'preserve');
	$utility-classes : map-get($config, 'utility-classes');
	$src             : map-get($config, 'src');
	$src             : map-get($config, 'src');
	$break-at        : map-get($config, 'break-at');
	$breakpoints     : map-get($config, 'breakpoints');
	$scale           : map-get($config, 'scale');
	$prefix          : map-get($config, 'prefix');
	$prefix-class    : map-get($config, 'prefix-class');
	$prefix-variable : map-get($config, 'prefix-variable');
	$suffix          : map-get($config, 'suffix');
	$suffix-class    : map-get($config, 'suffix-class');
	$suffix-variable : map-get($config, 'suffix-variable');

	// Sets all variables to be used in the mixin.
	$src-length      : length($src);
	$src-type        : type-of($src);
	$ratio           : _validate-ratio($ratio);
	$prefix          : _get-name($prefix, $prefix-variable);
	$suffix          : _get-name($suffix, $suffix-variable);
	$_suffix         : null;
	$_prefix         : null;
	$keys            : null;
	$suffix-prev     : null;
	$value           : null;
	$length          : if($length != null, $length, $src-length);

	// If base is used generate the base and ratio css properties with a given prefix.
	@if $base != null {
		--#{$prefix}ratio : #{$ratio};
		--#{$prefix}base  : #{$base};
	}

	// If $src is a map convert keys and values to a list and set the values length variable.
	@if $src-type == map {
		$keys       : to-list($src, 'keys');
		$src        : to-list($src, 'values');
		$src-length : length($src);
	}

	// Main loop for generating the css properties.
	@for $i from 1 through $length {
		// Shallow copies of $suffix and $prefix variables.
		$_prefix : _get-name($prefix, $prefix-variable); // Get the prefix name.
		$_suffix : _get-suffix($suffix, $length, $i); // Get the suffix for the current iteration.

		// If $base is used
		@if $base != null {
			$value : calc(var(--#{$prefix}base) * var(--#{$prefix}ratio)); // In first iteration output calculation of the base value multiplied by the ratio.

			// In other iterations calculate the base value multiplied by the ratio and use the previous value.
			@if $i > 1 {
				$suffix-prev : _get-suffix($suffix, $length, $i - 1); // Get the suffix for the previous iteration.
				$value       : calc(var(--#{$prefix}#{$suffix-prev}) * var(--#{$prefix}ratio)); // Output the calculation of value which is based on $prefix and $suffix-prev multiplied by the ratio.
			}

			// If $preserve is used get the value by _get-value function.
			@if $preserve > 1 {
				$value : _get-value($base, $ratio, $preserve, $i, $prefix);

				@if $i > 1 {
					$value : _get-value($base, $ratio, $preserve, $i, $prefix, $suffix-prev);
				}
			}
		}

		// If $src is a list or map
		@if $src-type == list or $src-type == map {
			$_suffix : _get-suffix($suffix, $src-length, $i);
			$value   : _number-scale(nth($src, $i), $scale); // Get the value from the list at the current iteration and scale it if used.
		}

		// If $src is a map
		@if $src-type == map {
			$_prefix : nth($keys, $i); // Get the key from the list at the current iteration.
			$_suffix : ''; // Because the map is used the suffix is empty. The key is used as the prefix and suffix.
		}

		// The actual css property which is outputted.
		@include _variable-shell($_prefix, $_suffix, $value);

		//If utility-classes are set to true generate the utility classes based on the prefix, suffix, value and selector.
		@if $utility-classes {
			$class-prefix : if($src-type == map, $_prefix, _get-name($prefix, $prefix-class));
			$class-suffix : if($src-type == map, $_suffix, _get-suffix(_get-name($suffix, $suffix-class), $length, $i));

			@at-root .#{_class-shell($class-prefix, $class-suffix)} {
				@include _declaration-shell($_prefix, $_suffix, $value, $selector, $key);
			}
		}
	}

	// If $break-at is used generate breakpoints with css properties.
	@if ($breakpoints != null) {
		@for $i from 1 through length($breakpoints) {
			$breakpoint : nth(nth($breakpoints, $i), 1); // Get the breakpoint value.
			$src        : nth(nth($breakpoints, $i), 2); // Get the src value.
			$src-type   : type-of(nth(nth($breakpoints, $i), 2)); // Get the src type.

			// If $src is a map convert keys and values to a list.
			@if $src-type == map {
				$keys : to-list($src, 'keys');
				$src  : to-list($src, 'values');
			}

			// The actual outputted breakpoint
			// The $break-at value must be one of the breakpoints in $map-for-breakpoints.
			@include breakpoint($break-at, $breakpoint) {
				$x : 1; // Second iteration of the loop.
				$y : $src-length - length($src) + 1; // Third iteration of the loop. Which starts by getting the difference between the length of the src and the length of the main loop current iteration.

				@while $y <= $src-length {
					$_prefix : _get-name($prefix, $prefix-variable); // Get the prefix name.
					$_suffix : _get-suffix($suffix, $src-length, $y); // Get the suffix for the current iteration of $y.
					$value   : _number-scale(nth($src, $x), $scale); // Get the value from the list at the current iteration of $x and scale it if used.

					// If $src is a map
					@if $src-type == map {
						$_prefix : nth($keys, $x); // Get the key from the list at the current iteration.
						$_suffix : ''; // Since the map is used the suffix is empty, because the key is used as the prefix and suffix.

						// If the key is ratio
						@if $_prefix == 'ratio' {
							$_prefix : $prefix; // Use the prefix instead of the key.
							$_suffix : 'ratio'; // Use string 'ratio' as the suffix.
							$value   : _validate-ratio(nth($src, $x)); // Validate the ratio and get the value.
						}

						// If the key is base
						@if $_prefix == 'base' {
							$_prefix : $prefix; // Use the prefix instead of the key.
							$_suffix : 'base'; // Use string 'base' as the suffix.
						}
					}

					// The actual css property which is outputted in the breakpoint.
					@include _variable-shell($_prefix, $_suffix, $value);

					// At the end of the loop increment $x and $y.
					$y       : $y + 1;
					$x       : $x + 1;
				}
			}
		}
	}
}

