@charset "UTF-8";

/**
 * Mixin for processing the color parameters.
 *
 * @author - Martin Kamír
 *
 */
@mixin _process-colors($config) {
	$src               : map-get($config, 'src');
	$src-scheme        : map-get($config, 'src-scheme');
	$preferred-scheme  : map-get($config, 'preferred-scheme');
	$dark-scheme       : false;
	$map               : $src;

	// The main loop for processing and outputting the colors.
	@for $i from 1 through if($src-scheme == null, 1, 2) {

		// Switching the map to the preferred color scheme.
		@if length($src) == 1 {
			@if $src-scheme != null and $i > length($map) {
				$map         : $src-scheme;
				$dark-scheme : true;
			}
		} @else {
			@if $src-scheme != null and $i >= length($map) {
				$map         : $src-scheme;
				$dark-scheme : true;
			}
		}

		// Generating the color properties to the root and at media preferred color scheme.
		@if $dark-scheme == false {
			@include _generate-colors($config, $map, true);
		} @else {
			@media (prefers-color-scheme : #{$preferred-scheme}) {
				@include _generate-colors($config, $map, false);
			}
		}
	}
}