$border-size-max: 25px;
$border-size-lg: 10px;
$border-size-md: 5px;
$border-size-sm: 2px;
$border-size-min: 1px;

$radius-max: 80px;
$radius-xl: 60px;
$radius-lg: 40px;
$radius-md: 20px;
$radius-sm: 10px;
$radius-xs: 5px;
$radius-min: 2px;
$radius-round: 50%;
