$ultrawide-max: 7680px;
$ultrawide-md: 3840px;
$ultrawide-min: 2560px;

$pc-max: 1920px;
$pc-xl: 1768px;
$pc-lg: 1660px;
$pc-md: 1536px;
$pc-sm: 1440px;
$pc-xs: 1366px;
$pc-min: 1280px;

$tablet-max: 1024px;
$tablet-lg: 960px;
$tablet-md: 800px;
$tablet-sm: 720px;
$tablet-min: 600px;

$phone-max: 540px;
$phone-xl: 480px;
$phone-lg: 414px;
$phone-md: 375px;
$phone-sm: 360px;
$phone-xs: 330px;
$phone-min: 320px;

$screen-max: $pc-max;
$screen-xl: $pc-sm;
$screen-lg: $tablet-max;
$screen-md: $tablet-md;
$screen-sm: $phone-max;
$screen-xs: $phone-md;
$screen-min: $phone-xs;