$clr-white    : hsl(0, 0%, 100%);
$clr-black    : hsl(0, 0%, 0%);

$clr-gray-0   : hsl(210, 17%, 98%);
$clr-gray-1   : hsl(210, 17%, 95%);
$clr-gray-2   : hsl(210, 16%, 93%);
$clr-gray-3   : hsl(210, 14%, 89%);
$clr-gray-4   : hsl(210, 14%, 83%);
$clr-gray-5   : hsl(210, 11%, 71%);
$clr-gray-6   : hsl(210, 7%, 56%);
$clr-gray-7   : hsl(210, 9%, 31%);
$clr-gray-8   : hsl(210, 10%, 23%);
$clr-gray-9   : hsl(210, 11%, 15%);

$clr-red-0    : hsl(0, 100%, 98%);
$clr-red-1    : hsl(0, 100%, 95%);
$clr-red-2    : hsl(0, 100%, 89%);
$clr-red-3    : hsl(0, 100%, 83%);
$clr-red-4    : hsl(0, 100%, 76%);
$clr-red-5    : hsl(0, 100%, 71%);
$clr-red-6    : hsl(0, 94%, 65%);
$clr-red-7    : hsl(0, 86%, 59%);
$clr-red-8    : hsl(0, 74%, 54%);
$clr-red-9    : hsl(0, 65%, 48%);

$clr-pink-0   : hsl(336, 100%, 97%);
$clr-pink-1   : hsl(336, 100%, 94%);
$clr-pink-2   : hsl(338, 91%, 87%);
$clr-pink-3   : hsl(339, 90%, 81%);
$clr-pink-4   : hsl(339, 88%, 74%);
$clr-pink-5   : hsl(339, 82%, 67%);
$clr-pink-6   : hsl(339, 76%, 59%);
$clr-pink-7   : hsl(339, 67%, 52%);
$clr-pink-8   : hsl(339, 68%, 45%);
$clr-pink-9   : hsl(339, 69%, 38%);

$clr-grape-0  : hsl(280, 67%, 96%);
$clr-grape-1  : hsl(287, 77%, 92%);
$clr-grape-2  : hsl(288, 86%, 86%);
$clr-grape-3  : hsl(289, 85%, 78%);
$clr-grape-4  : hsl(288, 83%, 71%);
$clr-grape-5  : hsl(288, 75%, 64%);
$clr-grape-6  : hsl(288, 67%, 58%);
$clr-grape-7  : hsl(288, 56%, 52%);
$clr-grape-8  : hsl(288, 54%, 46%);
$clr-grape-9  : hsl(288, 54%, 40%);

$clr-violet-0 : hsl(252, 100%, 97%);
$clr-violet-1 : hsl(257, 100%, 93%);
$clr-violet-2 : hsl(256, 100%, 87%);
$clr-violet-3 : hsl(255, 94%, 79%);
$clr-violet-4 : hsl(255, 93%, 72%);
$clr-violet-5 : hsl(255, 91%, 67%);
$clr-violet-6 : hsl(255, 86%, 63%);
$clr-violet-7 : hsl(255, 78%, 60%);
$clr-violet-8 : hsl(255, 67%, 55%);
$clr-violet-9 : hsl(255, 53%, 50%);

$clr-indigo-0 : hsl(223, 100%, 96%);
$clr-indigo-1 : hsl(225, 100%, 93%);
$clr-indigo-2 : hsl(228, 100%, 86%);
$clr-indigo-3 : hsl(228, 100%, 78%);
$clr-indigo-4 : hsl(228, 96%, 72%);
$clr-indigo-5 : hsl(228, 94%, 67%);
$clr-indigo-6 : hsl(228, 89%, 63%);
$clr-indigo-7 : hsl(228, 81%, 59%);
$clr-indigo-8 : hsl(228, 69%, 55%);
$clr-indigo-9 : hsl(230, 57%, 50%);

$clr-blue-0   : hsl(205, 100%, 95%);
$clr-blue-1   : hsl(206, 100%, 91%);
$clr-blue-2   : hsl(206, 100%, 82%);
$clr-blue-3   : hsl(206, 96%, 72%);
$clr-blue-4   : hsl(207, 91%, 64%);
$clr-blue-5   : hsl(207, 86%, 57%);
$clr-blue-6   : hsl(208, 80%, 52%);
$clr-blue-7   : hsl(208, 77%, 47%);
$clr-blue-8   : hsl(209, 77%, 43%);
$clr-blue-9   : hsl(209, 75%, 38%);

$clr-cyan-0   : hsl(185, 81%, 94%);
$clr-cyan-1   : hsl(185, 84%, 88%);
$clr-cyan-2   : hsl(186, 77%, 77%);
$clr-cyan-3   : hsl(187, 74%, 65%);
$clr-cyan-4   : hsl(187, 69%, 55%);
$clr-cyan-5   : hsl(188, 72%, 47%);
$clr-cyan-6   : hsl(187, 80%, 42%);
$clr-cyan-7   : hsl(188, 83%, 37%);
$clr-cyan-8   : hsl(189, 85%, 32%);
$clr-cyan-9   : hsl(189, 85%, 28%);

$clr-teal-0   : hsl(161, 79%, 95%);
$clr-teal-1   : hsl(160, 85%, 87%);
$clr-teal-2   : hsl(162, 78%, 77%);
$clr-teal-3   : hsl(162, 72%, 65%);
$clr-teal-4   : hsl(162, 68%, 54%);
$clr-teal-5   : hsl(162, 73%, 46%);
$clr-teal-6   : hsl(162, 82%, 40%);
$clr-teal-7   : hsl(162, 87%, 35%);
$clr-teal-8   : hsl(162, 88%, 30%);
$clr-teal-9   : hsl(162, 88%, 26%);

$clr-green-0  : hsl(131, 67%, 95%);
$clr-green-1  : hsl(128, 76%, 90%);
$clr-green-2  : hsl(128, 71%, 82%);
$clr-green-3  : hsl(129, 68%, 73%);
$clr-green-4  : hsl(130, 61%, 64%);
$clr-green-5  : hsl(130, 57%, 56%);
$clr-green-6  : hsl(131, 50%, 50%);
$clr-green-7  : hsl(131, 53%, 46%);
$clr-green-8  : hsl(131, 54%, 40%);
$clr-green-9  : hsl(132, 52%, 35%);

$clr-lime-0   : hsl(79, 81%, 94%);
$clr-lime-1   : hsl(80, 83%, 88%);
$clr-lime-2   : hsl(81, 81%, 80%);
$clr-lime-3   : hsl(82, 75%, 69%);
$clr-lime-4   : hsl(83, 73%, 59%);
$clr-lime-5   : hsl(84, 69%, 51%);
$clr-lime-6   : hsl(85, 74%, 45%);
$clr-lime-7   : hsl(85, 79%, 40%);
$clr-lime-8   : hsl(86, 84%, 36%);
$clr-lime-9   : hsl(85, 84%, 32%);

$clr-yellow-0 : hsl(50, 100%, 93%);
$clr-yellow-1 : hsl(49, 100%, 87%);
$clr-yellow-2 : hsl(49, 100%, 80%);
$clr-yellow-3 : hsl(48, 100%, 70%);
$clr-yellow-4 : hsl(47, 100%, 62%);
$clr-yellow-5 : hsl(45, 97%, 54%);
$clr-yellow-6 : hsl(42, 96%, 50%);
$clr-yellow-7 : hsl(39, 100%, 48%);
$clr-yellow-8 : hsl(35, 100%, 47%);
$clr-yellow-9 : hsl(31, 100%, 45%);

$clr-orange-0 : hsl(34, 100%, 95%);
$clr-orange-1 : hsl(33, 100%, 90%);
$clr-orange-2 : hsl(33, 100%, 83%);
$clr-orange-3 : hsl(32, 100%, 74%);
$clr-orange-4 : hsl(31, 100%, 65%);
$clr-orange-5 : hsl(29, 100%, 58%);
$clr-orange-6 : hsl(27, 98%, 54%);
$clr-orange-7 : hsl(24, 94%, 50%);
$clr-orange-8 : hsl(21, 90%, 48%);
$clr-orange-9 : hsl(17, 87%, 45%);