$gray-0: hsl(210, 17%, 98%);
$gray-1: hsl(210, 17%, 95%);
$gray-2: hsl(210, 16%, 93%);
$gray-3: hsl(210, 14%, 89%);
$gray-4: hsl(210, 14%, 83%);
$gray-5: hsl(210, 11%, 71%);
$gray-6: hsl(210, 7%, 56%);
$gray-7: hsl(210, 9%, 31%);
$gray-8: hsl(210, 10%, 23%);
$gray-9: hsl(210, 11%, 15%);

$red-0: hsl(0, 100%, 98%);
$red-1: hsl(0, 100%, 95%);
$red-2: hsl(0, 100%, 89%);
$red-3: hsl(0, 100%, 83%);
$red-4: hsl(0, 100%, 76%);
$red-5: hsl(0, 100%, 71%);
$red-6: hsl(0, 94%, 65%);
$red-7: hsl(0, 86%, 59%);
$red-8: hsl(0, 74%, 54%);
$red-9: hsl(0, 65%, 48%);

$pink-0: hsl(336, 100%, 97%);
$pink-1: hsl(336, 100%, 94%);
$pink-2: hsl(338, 91%, 87%);
$pink-3: hsl(339, 90%, 81%);
$pink-4: hsl(339, 88%, 74%);
$pink-5: hsl(339, 82%, 67%);
$pink-6: hsl(339, 76%, 59%);
$pink-7: hsl(339, 67%, 52%);
$pink-8: hsl(339, 68%, 45%);
$pink-9: hsl(339, 69%, 38%);

$grape-0: #f8f0fc;
$grape-1: #f3d9fa;
$grape-2: #eebefa;
$grape-3: #e599f7;
$grape-4: #da77f2;
$grape-5: #cc5de8;
$grape-6: #be4bdb;
$grape-7: #ae3ec9;
$grape-8: #9c36b5;
$grape-9: #862e9c;

$violet-0: #f3f0ff;
$violet-1: #e5dbff;
$violet-2: #d0bfff;
$violet-3: #b197fc;
$violet-4: #9775fa;
$violet-5: #845ef7;
$violet-6: #7950f2;
$violet-7: #7048e8;
$violet-8: #6741d9;
$violet-9: #5f3dc4;

$indigo-0: hsl(223, 100%, 96%);
$indigo-1: hsl(225, 100%, 93%);
$indigo-2: hsl(228, 100%, 86%);
$indigo-3: hsl(228, 100%, 78%);
$indigo-4: hsl(228, 96%, 72%);
$indigo-5: hsl(228, 94%, 67%);
$indigo-6: hsl(228, 89%, 63%);
$indigo-7: hsl(228, 81%, 59%);
$indigo-8: hsl(228, 69%, 55%);
$indigo-9: hsl(230, 57%, 50%);

$blue-0: hsl(205, 100%, 95%);
$blue-1: hsl(206, 100%, 91%);
$blue-2: hsl(206, 100%, 82%);
$blue-3: hsl(206, 96%, 72%);
$blue-4: hsl(207, 91%, 64%);
$blue-5: hsl(207, 86%, 57%);
$blue-6: hsl(208, 80%, 52%);
$blue-7: hsl(208, 77%, 47%);
$blue-8: hsl(209, 77%, 43%);
$blue-9: hsl(209, 75%, 38%);

$cyan-0: hsl(185, 81%, 94%);
$cyan-1: hsl(185, 84%, 88%);
$cyan-2: hsl(186, 77%, 77%);
$cyan-3: hsl(187, 74%, 65%);
$cyan-4: hsl(187, 69%, 55%);
$cyan-5: hsl(188, 72%, 47%);
$cyan-6: hsl(187, 80%, 42%);
$cyan-7: hsl(188, 83%, 37%);
$cyan-8: hsl(189, 85%, 32%);
$cyan-9: hsl(189, 85%, 28%);

$teal-0: #e6fcf5;
$teal-1: #c3fae8;
$teal-2: #96f2d7;
$teal-3: #63e6be;
$teal-4: #38d9a9;
$teal-5: #20c997;
$teal-6: #12b886;
$teal-7: #0ca678;
$teal-8: #099268;
$teal-9: #087f5b;

$green-0: hsl(131, 67%, 95%);
$green-1: hsl(128, 76%, 90%);
$green-2: hsl(128, 71%, 82%);
$green-3: hsl(129, 68%, 73%);
$green-4: hsl(130, 61%, 64%);
$green-5: hsl(130, 57%, 56%);
$green-6: hsl(131, 50%, 50%);
$green-7: hsl(131, 53%, 46%);
$green-8: hsl(131, 54%, 40%);
$green-9: hsl(132, 52%, 35%);

$lime-0: #f4fce3;
$lime-1: #e9fac8;
$lime-2: #d8f5a2;
$lime-3: #c0eb75;
$lime-4: #a9e34b;
$lime-5: #94d82d;
$lime-6: #82c91e;
$lime-7: #74b816;
$lime-8: #66a80f;
$lime-9: #5c940d;

$yellow-0: hsl(50, 100%, 93%);
$yellow-1: hsl(49, 100%, 87%);
$yellow-2: hsl(49, 100%, 80%);
$yellow-3: hsl(48, 100%, 70%);
$yellow-4: hsl(47, 100%, 62%);
$yellow-5: hsl(45, 97%, 54%);
$yellow-6: hsl(42, 96%, 50%);
$yellow-7: hsl(39, 100%, 48%);
$yellow-8: hsl(35, 100%, 47%);
$yellow-9: hsl(31, 100%, 45%);

$orange-0: hsl(34, 100%, 95%);
$orange-1: hsl(33, 100%, 90%);
$orange-2: hsl(33, 100%, 83%);
$orange-3: hsl(32, 100%, 74%);
$orange-4: hsl(31, 100%, 65%);
$orange-5: hsl(29, 100%, 58%);
$orange-6: hsl(27, 98%, 54%);
$orange-7: hsl(24, 94%, 50%);
$orange-8: hsl(21, 90%, 48%);
$orange-9: hsl(17, 87%, 45%);
