$size-base      : 1rem !default;

$size-1         : $size-base * 0.5;
$size-2         : $size-base * 0.75;
$size-3         : $size-base * 1;
$size-4         : $size-base * 1.5;
$size-5         : $size-base * 2;
$size-6         : $size-base * 2.5;
$size-7         : $size-base * 3;
$size-8         : $size-base * 3.5;
$size-9         : $size-base * 4;
$size-10        : $size-base * 5;
$size-11        : $size-base * 7.5;
$size-12        : $size-base * 10;
$size-13        : $size-base * 15;
$size-14        : $size-base * 20;
$size-15        : $size-base * 30;

$size-fluid-1   : clamp($size-1, 1vw, $size-3);
$size-fluid-2   : clamp($size-3, 2vw, $size-4);
$size-fluid-3   : clamp($size-4, 3vw, $size-5);
$size-fluid-4   : clamp($size-5, 4vw, $size-7);
$size-fluid-5   : clamp($size-9, 5vw, $size-10);
$size-fluid-6   : clamp($size-10, 7vw, $size-11);
$size-fluid-7   : clamp($size-11, 10vw, $size-12);
$size-fluid-8   : clamp($size-12, 20vw, $size-13);
$size-fluid-9   : clamp($size-13, 30vw, $size-14);
$size-fluid-10  : clamp($size-14, 40vw, $size-15);

$size-content-1 : 25ch;
$size-content-2 : 30ch;
$size-content-3 : 45ch;
$size-content-4 : 60ch;
$size-content-5 : 72ch;

$size-header-1  : 20ch;
$size-header-2  : 25ch;
$size-header-3  : 35ch;
