@import './typography';
@import './borders';
@import './color-palette';

// Colors
$clr-white: white;
$clr-black: black;

$clr-primary: $red-7;
$clr-primary-light: $red-4;
$clr-primary-dark: $red-9;
$clr-secondary: $gray-8;
$clr-secondary-light: $gray-7;
$clr-secondary-dark: $gray-9;
$clr-tertiary: $cyan-4;
$clr-tertiary-light: $cyan-2;
$clr-tertiary-dark: $cyan-6;

$clr-txt-primary: $clr-secondary;
$clr-txt-secondary: $clr-secondary-light;
$clr-txt-tertiary: $clr-primary;

$clr-title-primary: $clr-secondary-dark;
$clr-title-secondary: $clr-primary-dark;
$clr-title-tertiary: $clr-tertiary-light;

$clr-background-primary: $clr-white;
$clr-background-secondary: $gray-1;
$clr-background-tertiary: $gray-4;

$clr-cta-primary: $clr-secondary;
$clr-cta-hover-primary: $clr-secondary-dark;
$clr-cta-secondary: $clr-tertiary;
$clr-cta-hover-secondary: $clr-tertiary-light;
$clr-cta-tertiary: $clr-secondary-light;
$clr-cta-hover-tertiary: $clr-secondary;

$clr-info: $blue-7;
$clr-error: $red-8;
$clr-notification: $orange-9;
$clr-warning: $yellow-7;
$clr-success: $green-8;

$clr-facebook: hsl(220, 46%, 48%);
$clr-twitter: hsl(203, 89%, 53%);
$clr-instagram: hsl(326, 57%, 48%);
$clr-youtube: hsl(0, 100%, 50%);
$clr-github: hsl(0, 0%, 20%);
$clr-google: hsl(217, 89%, 61%);
$clr-linkedin: hsl(201, 100%, 35%);

// Typography
$f-family-primary: 'Barlo-weight', sans-serif;
$f-family-secondary: 'Fraunces', serif;

$f-title-max: 0;
$f-title-def: 0;
$f-title-min: 0;

$f-txt-max: 0;
$f-txt-def: 0;
$f-txt-min: 0;

$f-title-fluid-max: 0;
$f-title-fluid-def: 0;
$f-title-fluid-min: 0;

$f-txt-fluid-max: 0;
$f-txt-fluid-def: 0;
$f-txt-fluid-min: 0;

$f-btn-max: 0;
$f-btn-def: 0;
$f-btn-min: 0;

$f-weight-title-bold: 0;
$f-weight-title-def: 0;
$f-weight-title-thin: 0;

$f-weight-txt-bold: 0;
$f-weight-txt-def: 0;
$f-weight-txt-thin: 0;

$f-letterspacing-title-max: 0;
$f-letterspacing-title-def: 0;
$f-letterspacing-title-min: 0;

$f-letterspacing-txt-max: 0;
$f-letterspacing-txt-def: 0;
$f-letterspacing-txt-min: 0;

$f-lineheight-title-max: 0;
$f-lineheight-title-def: 0;
$f-lineheight-title-min: 0;

$f-lineheight-txt-max: 0;
$f-lineheight-txt-def: 0;
$f-lineheight-txt-min: 0;

// Sizes
$body-space-max: 0;
$body-space-def: 0;
$body-space-min: 0;

$modal-space-max: 0;
$modal-space-def: 0;
$modal-space-min: 0;

$card-space-max: 0;
$card-space-def: 0;
$card-space-min: 0;

$btn-padding-max: 0;
$btn-padding-def: 0;
$btn-padding-min: 0;

// Borders
$border-max: 0;
$border-def: 0;
$border-min: 0;

$radius-def: 0;
$radius-btn: 0;
