$f-size-base: 1rem !default;

$f-size-max: $f-size-base * 4.5;
$f-size-xxl: $f-size-base * 4;
$f-size-xl: $f-size-base * 3.5;
$f-size-lg: $f-size-base * 3;
$f-size-md: $f-size-base * 2.5;
$f-size-sm: $f-size-base * 2;
$f-size-xs: $f-size-base * 1.5;
$f-size-xxs: $f-size-base * 1.25;
$f-size-min: $f-size-base * 1;

$f-size-title-max: $f-size-base * 11;
$f-size-title-lg: $f-size-base * 9;
$f-size-title-md: $f-size-base * 7;
$f-size-title-sm: $f-size-base * 6;
$f-size-title-min: $f-size-base * 5;

$f-size-fluid-max: clamp(3rem, 4.5vw, $f-size-xxl);
$f-size-fluid-lg: clamp(2rem, 4vw, $f-size-xl);
$f-size-fluid-md: clamp(1.5rem, 3vw, $f-size-md);
$f-size-fluid-sm: clamp(1rem, 2vw, $f-size-xs);
$f-size-fluid-min: clamp(0.75rem, 1.5vw, $f-size-min);

$f-size-title-fluid-max: clamp(8rem, 11.5vw, $f-size-title-max);
$f-size-title-fluid-lg: clamp(6rem, 9.5vw, $f-size-title-lg);
$f-size-title-fluid-md: clamp(5rem, 7vw, $f-size-title-md);
$f-size-title-fluid-sm: clamp(4rem, 6vw, $f-size-title-sm);
$f-size-title-fluid-min: clamp(3rem, 5vw, $f-size-title-min);

$f-weight-9: 900;
$f-weight-8: 800;
$f-weight-7: 700;
$f-weight-6: 600;
$f-weight-5: 500;
$f-weight-4: 400;
$f-weight-3: 300;
$f-weight-2: 200;
$f-weight-1: 100;

$f-letterspacing-7: 1em;
$f-letterspacing-6: 0.75em;
$f-letterspacing-5: 0.5em;
$f-letterspacing-4: 0.15em;
$f-letterspacing-3: 0.075em;
$f-letterspacing-2: 0.05em;
$f-letterspacing-1: 0.025em;
$f-letterspacing-0: -0.05em;

$f-lineheight-max: 2;
$f-lineheight-xxl: 1.75;
$f-lineheight-xl: 1.6;
$f-lineheight-lg: 1.5;
$f-lineheight-md: 1.375;
$f-lineheight-sm: 1.25;
$f-lineheight-xs: 1.1;
$f-lineheight-xxs: 1;
$f-lineheight-min: 0.95;
