$f-size-base       : 1rem !default;

$f-size-1          : $f-size-base * 1;
$f-size-2          : $f-size-base * 1.25;
$f-size-3          : $f-size-base * 1.5;
$f-size-4          : $f-size-base * 2;
$f-size-5          : $f-size-base * 2.5;
$f-size-6          : $f-size-base * 3;
$f-size-7          : $f-size-base * 3.5;
$f-size-8          : $f-size-base * 4;
$f-size-9          : $f-size-base * 5;
$f-size-10         : $f-size-base * 7;

$f-size-fluid-1    : clamp(1rem, 1.5vw + 1rem, $f-size-1);
$f-size-fluid-2    : clamp($f-size-1, 2vw + 1rem, $f-size-3);
$f-size-fluid-3    : clamp($f-size-3, 3vw + 1rem, $f-size-5);
$f-size-fluid-4    : clamp($f-size-4, 4vw + 1rem, $f-size-7);
$f-size-fluid-5    : clamp($f-size-5, 5vw + 1rem, $f-size-9);
$f-size-fluid-6    : clamp($f-size-6, 10vw + 1rem, $f-size-10);

$f-weight-1        : 100;
$f-weight-2        : 200;
$f-weight-3        : 300;
$f-weight-4        : 400;
$f-weight-5        : 500;
$f-weight-6        : 600;
$f-weight-7        : 700;
$f-weight-8        : 800;
$f-weight-9        : 900;

$f-letterspacing-0 : -0.05em;
$f-letterspacing-1 : 0.025em;
$f-letterspacing-2 : 0.05em;
$f-letterspacing-3 : 0.075em;
$f-letterspacing-4 : 0.15em;
$f-letterspacing-5 : 0.5em;
$f-letterspacing-6 : 0.75em;
$f-letterspacing-7 : 1em;

$f-lineheight-1    : 0.95;
$f-lineheight-2    : 1;
$f-lineheight-3    : 1.1;
$f-lineheight-4    : 1.25;
$f-lineheight-5    : 1.375;
$f-lineheight-6    : 1.5;
$f-lineheight-7    : 1.6;
$f-lineheight-8    : 1.7;
$f-lineheight-9    : 2;
