@mixin abs($t: null, $r: null, $b: null, $l: null) {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin abs-corner($corner, $value, $value2: null) {
  position: absolute;

  @if ($corner == 'top-left') {
    top: $value;
    left: $value2 or $value;
  } @else if ($corner == 'top-right') {
    top: $value;
    right: $value2 or $value;
  } @else if ($corner == 'bottom-left') {
    bottom: $value;
    left: $value2 or $value;
  } @else if ($corner == 'bottom-right') {
    bottom: $value;
    right: $value2 or $value;
  } @else {
    @warn 'undefined parameter: #{$corner}. First parameter can be only one of these values "top-left", "top-right", "bottom-left", "bottom-right",';
  }
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin abs-center-Y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin abs-center-X {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
