@charset "UTF-8";

@mixin animation($duration, $timing: null, $count: null, $mode: null, $direction: normal) {
	$name                     : inline-#{unique-id()};

	@keyframes #{$name} {
		@content;
	}

	animation-name            : $name;
	animation-duration        : $duration;
	animation-timing-function : $timing;
	animation-iteration-count : $count;
	animation-fill-mode       : $mode;
	animation-direction       : $direction;
}
