@charset "UTF-8";

/**
 * Mixin for fixed positioning.
 *
 * @author - Martin Kamír
 *
 * NOTE: Idea taken from: https://docs.gerillass.com/docs/center/
 */
@mixin fixed($mode, $value: null, $value2: null, $value3: null, $value4: null, $top: null, $right: null, $bottom: null, $left: null) {
	position : fixed;
	top      : $top;
	right    : $right;
	bottom   : $bottom;
	left     : $left;

	@if ($mode == 'top') {
		top       : $value;
	} @else if ($mode == 'top-left') {
		top       : $value;
		left      : $value2 or $value;
	} @else if ($mode == 'top-right') {
		top       : $value;
		right     : $value2 or $value;
	} @else if ($mode == 'top-inline') {
		top       : $value;
		right     : $value2 or $value;
		left      : $value3 or $value2 or $value;
	} @else if ($mode == 'top-bottom') {
		top       : $value;
		bottom    : $value2 or $value;
	} @else if ($mode == 'bottom') {
		bottom    : $value;
	} @else if ($mode == 'bottom-left') {
		bottom    : $value;
		left      : $value2 or $value;
	} @else if ($mode == 'bottom-right') {
		bottom    : $value;
		right     : $value2 or $value;
	} @else if ($mode == 'bottom-inline') {
		bottom    : $value;
		right     : $value2 or $value;
		left      : $value3 or $value2 or $value;
	} @else if ($mode == 'left') {
		left      : $value;
	} @else if ($mode == 'right') {
		right     : $value;
	} @else if ($mode == 'inline') {
		left      : $value;
		right     : $value2 or $value;
	} @else if ($mode == 'block') {
		top       : $value;
		bottom    : $value2 or $value;
	} @else if ($mode == 'all') {
		top       : $value;
		right     : $value2 or $value;
		bottom    : $value3 or $value2 or $value;
		left      : $value4 or $value3 or $value2 or $value;
	} @else if ($mode == 'center') {
		top       : 50%;
		left      : 50%;
		transform : translateX(-50%) translateY(-50%);
	} @else if ($mode == 'center-block') {
		top       : 50%;
		transform : translateY(-50%);
	} @else if ($mode == 'center-inline') {
		left      : 50%;
		transform : translateX(-50%);
	}
}
