@charset "UTF-8";

/**
 * The direct mixin for generating font scales. Outputs the scalable css properties for font-size base on
 * given parameters or config.
 *
 * @author - Martin Kamír
 *
 */
@mixin generate-space-scales(
	$config: null,
	$base: null,
	$ratio: null,
	$length: null,
	$preserve: 0,
	$utility-classes: true,
	$src: null,
	$scale: 100%,
	$prefix: 'space-',
	$suffix: 'numeric',
	$prefix-class: null,
	$prefix-variable: null,
	$suffix-class: null,
	$suffix-variable: null) {

	$key      : 'space-scales'; // The key for the '_validate-config' function is to identify given parameters and merge them into the main config map.
	$selector : 'none'; // The selector for creating the utility classes. Because the value is none. Utility classes will not have declaration property only the css property.

	// Call the '_process-config-parameters' mixin to process the config or parameters into one main config map.
	@include _process-config($config, $key, $selector, $base, $ratio, $length, $preserve, $utility-classes, $src, $scale, $prefix, $suffix, $prefix-class, $prefix-variable, $suffix-class, $suffix-variable);
}