@charset "UTF-8";

/**
 * Mixin for generating font-size types scale.
 *
 * @author - Martin Kamír
 *
 * @param $config {map} - Config map uses same parameters as below, but can be defined 'breakpoints' and 'break-at' keys to generate breakpoints.
 * @param $base {number} - The base value. Number must be with unit.
 * @param $ratio {number/string} - The ratio value. Number must be with no unit. Using string from $map-for-ratios.
 * @param $length {number} - The length of the scale. Number must be with unit.
 * @param $preserve {number} - The number of how many css properties will be preserved. Means if we change the base or ratio value, the preserved css properties will not be changed. Number must be with no unit.
 * @param $utility-classes {boolean} - Defines if the utility classes should be generated.
 * @param $prefix {string} - Defines the name of css property and utility classes.
 * @param $prefix-class {string} - Defines the name of utility classes.
 * @param $prefix-variable {string} - Defines the name of css property.
 * @param $suffix {string} - Defines the order of the css properties and utility classes. Suffix has many options from $map-for-suffixes, or using numeric, numeric-hundreds suffixes. Also custom suffixes can be used.
 * @param $suffix-class {string} - Defines the name of utility classes.
 * @param $suffix-variable {string} - Defines the name of css property.
 * @param $src {list, map} - Defining the source of custom values from list or map. src can't be use with ratio, base, length, preserve. Using map prevents having prefix and suffix, because the keys will be used as the css property names.
 * @param $scale {number} - Scale the values from src. Number must use percentage unit.
 *
 */
@mixin generate-font-types(
	$config: null,
	$base: null,
	$ratio: null,
	$length: null,
	$preserve: 0,
	$utility-classes: true,
	$src: null,
	$scale: 100%,
	$prefix: 'f-size-',
	$suffix: 'numeric',
	$prefix-class: null,
	$prefix-variable: null,
	$suffix-class: null,
	$suffix-variable: null) {

	$key      : 'font-types'; // The key for the '_validate-config' function is to identify given parameters and merge them into the main config map.
	$selector : 'font-size'; // The selector for creating the utility classes.

	// Call the '_process-config' mixin to process the config/parameters into one main config map.
	@include _process-config($config, $key, $selector, $base, $ratio, $length, $preserve, $utility-classes, $src, $scale, $prefix, $suffix, $prefix-class, $prefix-variable, $suffix-class, $suffix-variable);
}
