@charset "UTF-8";
@use 'sass:string';
@use 'sass:map';

@mixin generate-utilities($params...) {
	@each $map in $params {
		@each $key, $value in $map {
			@if map.has-key($map, 'f-lineheight-0') {
				.#{string.slice(#{$key}, 3)} {
					line-height : $value;
				}
			} @else if map.has-key($map, 'clr-primary') {
				.surface-#{string.slice(#{$key}, 5)} {
					background-color : $value;
				}

				.text-#{string.slice(#{$key}, 5)} {
					color : $value;
				}
			} @else if map.has-key($map, 'shadow-0') {
				.#{$key} {
					box-shadow : $value;
				}
			} @else if map.has-key($map, 'f-letterspacing-0') {
				.#{string.slice(#{$key}, 3)} {
					letter-spacing : $value;
				}
			} @else if map.has-key($map, 'f-size-0') {
				.#{$key} {
					font-size : $value;
					font-size : var(--#{$key});
				}
			} @else if map.has-key($map, 'f-weight-0') {
				.#{$key} {
					font-weight : $value;
				}
			}
		}
	}
}
