@charset "UTF-8";

@mixin generate-fluid-font-scales(
	$config: null,
	$base: null,
	$ratio: null,
	$length: null,
	$utility-classes: true,
	$src: null,
	$scale: 100%,
	$prefix: 'f-size-fluid-',
	$suffix: 'numeric',
	$prefix-class: null,
	$prefix-variable: null,
	$suffix-class: null,
	$suffix-variable: null) {

	$preserve : 0;
	$key      : 'fluid-fonts'; // The key for the '_validate-config' function is to identify given parameters and merge them into the main config map.
	$selector : 'font-size'; // The selector for creating the utility classes.

	// Call the '_process-config' mixin to process the config or parameters into one main config map.
	@include _process-config($config, $key, $selector, $base, $ratio, $length, $preserve, $utility-classes, $src, $scale, $prefix, $suffix, $prefix-class, $prefix-variable, $suffix-class, $suffix-variable);
}