@charset "UTF-8";

/**
 * Mixin for generating fluid space types scale.
 *
 * @author - Martin Kamír
 *
 * @param $config {map} - Config map uses same parameters as below, but can be defined 'breakpoints' and 'break-at' keys to generate breakpoints.
 * @param $base {calculation} - The base value. Calculation must be clamp().
 * @param $ratio {number/string} - The ratio value. Number must be with no unit. Using string from $map-for-ratios.
 * @param $length {number} - The length of the scale. Number must be with unit.
 * @param $utility-classes {boolean} - Defines if the utility classes should be generated.
 * @param $prefix {string} - Defines the name of css property and utility classes.
 * @param $prefix-class {string} - Defines the name of utility classes.
 * @param $prefix-variable {string} - Defines the name of css property.
 * @param $suffix {string} - Defines the order of the css properties and utility classes. Suffix has many options from $map-for-suffixes, or using numeric, numeric-hundreds suffixes. Also custom suffixes can be used.
 * @param $suffix-class {string} - Defines the name of utility classes.
 * @param $suffix-variable {string} - Defines the name of css property.
 * @param $src {list, map} - Defining the source of custom values from list or map. src can't be use with ratio, base, length, preserve. Using map prevents having prefix and suffix, because the keys will be used as the css property names.
 *
 */
@mixin generate-fluid-space-types(
	$config: null,
	$base: null,
	$ratio: null,
	$length: null,
	$utility-classes: true,
	$src: null,
	$prefix: 'space-fluid-',
	$suffix: 'numeric',
	$prefix-class: null,
	$prefix-variable: null,
	$suffix-class: null,
	$suffix-variable: null) {

	// $preserve and $scale are removed from mixin's parameters because they have no meaning to be used.
	$preserve : 0;
	$scale    : 100%;

	$key      : 'fluid-space-types'; // The key for the '_validate-config' function is to identify given parameters and merge them into the main config map.
	$selector : 'none'; // The selector for creating the utility classes.

	// Call the '_process-config' mixin to process the config/parameters into one main config map.
	@include _process-config($config, $key, $selector, $base, $ratio, $length, $preserve, $utility-classes, $src, $scale, $prefix, $suffix, $prefix-class, $prefix-variable, $suffix-class, $suffix-variable);
}
