@charset "UTF-8";

@mixin size($width: null, $height: null) {
  width: $width;
  height: $height or $width;
}

@mixin max-size($width: null, $height: null) {
  max-width: $width;
  max-height: $height or $width;
}

@mixin min-size($width: null, $height: null) {
  min-width: $width;
  min-height: $height or $width;
}
