@charset "UTF-8";
@import '../properties/breakpoints';

$map-for-breakpoints : (
		'ultrawide-max ': $ultrawide-max,
		'ultrawide-md': $ultrawide-md,
		'ultrawide-min ': $ultrawide-min,
		'pc-max': $pc-max,
		'pc-xl': $pc-xl,
		'pc-lg': $pc-lg,
		'pc-md': $pc-md,
		'pc-sm': $pc-sm,
		'pc-xs': $pc-xs,
		'pc-min': $pc-min,
		'tablet-max': $tablet-max,
		'tablet-lg': $tablet-lg,
		'tablet-md': $tablet-md,
		'tablet-sm': $tablet-sm,
		'tablet-min': $tablet-min,
		'phone-max': $phone-max,
		'phone-xl': $phone-xl,
		'phone-lg': $phone-lg,
		'phone-md': $phone-md,
		'phone-sm': $phone-sm,
		'phone-xs': $phone-xs,
		'phone-min': $phone-min,
		'screen-max': $screen-max,
		'screen-xl': $screen-xl,
		'screen-lg': $screen-lg,
		'screen-md': $screen-md,
		'screen-sm': $screen-sm,
		'screen-xs': $screen-xs,
		'screen-min': $screen-min,
) !default;
