@charset "UTF-8";

$map-for-animations : (
		'border-size-1' : 1px,
		'border-size-2 ' : 2px,
		'border-size-3 ' : 5px,
		'border-size-4 ' : 10px,
		'border-size-5 ' : 25px,
		'radius-1 ' : 2px,
		'radius-2 ' : 5px,
		'radius-3 ' : 10px,
		'radius-4 ' : 20px,
		'radius-5 ' : 40px,
		'radius-6 ' : 60px,
		'radius-7 ' : 80px,
		'radius-round' : 50%,
		'radius-pill' : 100vmax,
) !default