@charset "UTF-8";
@import '../utilities/em';

$map-for-breakpoints : (
		'ultrawide-max ': _em(7680px),
		'ultrawide-md': _em(3840px),
		'ultrawide-min ': _em(2560px),
		'pc-max': _em(1920px),
		'pc-xl': _em(1768px),
		'pc-lg': _em(1660px),
		'pc-md': _em(1536px),
		'pc-sm': _em(1440px),
		'pc-xs': _em(1366px),
		'pc-min': _em(1280px),
		'tablet-max': _em(1024px),
		'tablet-lg': _em(960px),
		'tablet-md': _em(800px),
		'tablet-sm': _em(720px),
		'tablet-min': _em(600px),
		'phone-max': _em(540px),
		'phone-xl': _em(480px),
		'phone-lg': _em(414px),
		'phone-md': _em(375px),
		'phone-sm': _em(360px),
		'phone-xs': _em(330px),
		'phone-min': _em(320px),
		'screen-max': _em(1920px),
		'screen-xl': _em(1440px),
		'screen-lg': _em(1024px),
		'screen-md': _em(800px),
		'screen-sm': _em(540px),
		'screen-xs': _em(375px),
		'screen-min': _em(330px),
) !default
