@charset "UTF-8";

$map-for-flexbox : (
		'justify': (
				'justify-center': center,
				'justify-start': flex-start,
				'justify-end': flex-end,
				'justify-between': space-between,
				'justify-around': space-around,
				'justify-evenly': space-evenly,
				'justify-unset': unset,
				'justify-initial': initial,
				'justify-revert': revert,
		),
		'align': (
				'align-center': center,
				'align-start': flex-start,
				'align-end': flex-end,
				'align-stretch': stretch,
				'align-unset': unset,
				'align-initial': initial,
				'align-revert': revert,
		),
		'content': (
				'content-center': center,
				'content-start': flex-start,
				'content-end': flex-end,
				'content-stretch': stretch,
				'content-between': space-between,
				'content-around': space-around,
				'content-evenly': space-evenly,
				'content-unset': unset,
				'content-initial': initial,
				'content-revert': revert,
		),
		'directions': (
				'row': row,
				'row-reverse': row-reverse,
				'column': column,
				'column-reverse': column-reverse,
				'direction-unset': unset,
				'direction-initial': initial,
				'direction-revert': revert,
		),
		'wrap': (
				'wrap': wrap,
				'wrap-reverse': wrap-reverse,
				'nowrap': nowrap,
				'wrap-unset': unset,
				'wrap-initial': initial,
				'wrap-revert': revert,
		),
		'grid-widths': (
				'col-width-max': 33.33%,
				'col-width-md': 50%,
				'col-width-sm': 100%,
				'col-width-min': 100%,
		),
)
