@charset "UTF-8";

$map-for-laptops : (
		'MacBook-16': (
				width: 1536px,
				height: 960px,
		),
		'MacBook-14': (
				width: 1440px,
				height: 900px,
		),
		'MacBook-13': (
				width: 1280px,
				height: 800px,
		),
) !default;
