@charset "UTF-8";

$map-for-fluid-sizes : (
		'space-fluid-1': clamp(.5rem, 1vw, 1rem),
		'space-fluid-2': clamp(1rem, 2vw, 1.5rem),
		'space-fluid-3': clamp(1.5rem, 3vw, 2rem),
		'space-fluid-4': clamp(2rem, 4vw, 3rem),
		'space-fluid-5': clamp(4rem, 5vw, 5rem),
		'space-fluid-6': clamp(5rem, 7vw, 7.5rem),
		'space-fluid-7': clamp(7.5rem, 10vw, 10rem),
		'space-fluid-8': clamp(10rem, 20vw, 15rem),
		'space-fluid-9': clamp(15rem, 30vw, 20rem),
		'space-fluid-10': clamp(20rem, 40vw, 30rem),
		'f-size-fluid-1': clamp(.75rem, 1.5vw, 1rem),
		'f-size-fluid-2': clamp(1rem, 2vw, 1.5rem),
		'f-size-fluid-3': clamp(1.5rem, 3vw, 2.5rem),
		'f-size-fluid-4': clamp(2rem, 4vw, 3.5rem),
) !default
