@charset "UTF-8";

$map-for-font-weights : (
		'selector' : 'font-weight',
		'f-weight-1' : 100,
		'f-weight-2' : 200,
		'f-weight-3' : 300,
		'f-weight-4' : 400,
		'f-weight-5' : 500,
		'f-weight-6' : 600,
		'f-weight-7' : 700,
		'f-weight-8' : 800,
		'f-weight-9' : 900,
) !default
