@charset "UTF-8";

$map-for-animations : (
		'animation-fade-in': fade-in 0.5s var(--ease-3),
		'animation-fade-out': fade-out 0.5s var(--ease-3),
		'animation-scale-up': scale-up 0.5s var(--ease-3),
		'animation-scale-down': scale-down 0.5s var(--ease-3),
		'animation-slide-out-up': slide-out-up 0.5s var(--ease-3),
		'animation-slide-out-down': slide-out-down 0.5s var(--ease-3),
		'animation-slide-out-right': slide-out-right 0.5s var(--ease-3),
		'animation-slide-out-left': slide-out-left 0.5s var(--ease-3),
		'animation-slide-in-up': slide-in-up 0.5s var(--ease-3),
		'animation-slide-in-down': slide-in-down 0.5s var(--ease-3),
		'animation-slide-in-right': slide-in-right 0.5s var(--ease-3),
		'animation-slide-in-left': slide-in-left 0.5s var(--ease-3),
		'animation-shake-x': shake-x 0.75s var(--ease-out-5),
		'animation-shake-y': shake-y 0.75s var(--ease-out-5),
		'animation-spin': spin 2s linear infinite,
		'animation-ping': ping 5s var(--ease-out-3) infinite,
		'animation-blink': blink 1s var(--ease-out-3) infinite,
		'animation-float': float 3s var(--ease-in-out-3) infinite,
		'animation-bounce': bounce 2s var(--ease-squish-2) infinite,
		'animation-pulse': pulse 2s var(--ease-out-3) infinite,
		'animation-reveal-top': reveal-top 1s var(--ease-3),
		'animation-reveal-left': reveal-left 1s var(--ease-3),
		'animation-reveal-bottom': reveal-bottom 1s var(--ease-3),
		'animation-reveal-right': reveal-right 1s var(--ease-3),
) !default
