@charset "UTF-8";

$map-for-measure : (
		'property' : '--measure',
		'measure-1' : 10ch,
		'measure-2' : 30ch,
		'measure-3' : 45ch,
		'measure-4' : 50ch,
		'measure-5' : 60ch,
		'measure-6' : 72ch,
		'measure-7' : 83ch,
		'measure-8' : 95ch,
) !default



