@charset "UTF-8";

$map-for-radius : (
		'selector' : 'border-radius',
		'radius-1 ' : 2px,
		'radius-2 ' : 5px,
		'radius-3 ' : 10px,
		'radius-4 ' : 20px,
		'radius-5 ' : 40px,
		'radius-6 ' : 60px,
		'radius-7 ' : 80px,
		'radius-round' : 50%,
		'radius-pill' : 100vmax,
) !default
