$font-default: 'Barlow', sans-serif;
$font-explicit: 'Fraunces', serif;

$fs-default: 1.8rem;
$fs-max: 7.2rem;
$fs-lg: 4rem;
$fs-b: 2.5rem;
$fs-m: 2rem;
$fs-s: 1.5rem;
$fs-sm: 1.3rem;
$fs-min: 1rem;

$fs-fluid-max: clamp(1rem, 1rem, 1rem);
$fs-fluid-lg: clamp(3.2rem, 1rem + 2vw, $fs-max);
$fs-fluid-b: clamp($fs-m, 1rem + 1.5vw, $fs-b);
$fs-fluid-m: clamp($fs-m, 1rem + 1.3vw, 2.3rem);
$fs-fluid-s: clamp($fs-s, 1rem + 1vw, $fs-default);
$fs-fluid-sm: clamp($fs-sm, 1rem + 1vw, $fs-s);
$fs-fluid-min: clamp($fs-min, 1rem + 1vw, $fs-sm);

$fw-default: 600;
$fw-max: 900;
$fw-b: 700;
$fw-m: 500;
$fw-s: 400;
$fw-min: 200;
