@charset "UTF-8";

/**
 * Validates config
 *
 * NOTE: This function is helper function for _process-config function.
 *
 * @author - Martin Kamír
 *
 */
@mixin _validate-config($config) {

	// Get config keys
	$key               : map-get($config, 'key');
	$base              : map-get($config, 'base');
	$ratio             : map-get($config, 'ratio');
	$length            : map-get($config, 'length');
	$preserve          : if(map-get($config, 'preserve') == null, 0, map-get($config, 'preserve'));
	$utility-classes   : map-get($config, 'utility-classes');
	$src               : map-get($config, 'src');
	$src-scheme        : map-get($config, 'src-scheme');
	$break-at          : map-get($config, 'break-at');
	$breakpoints       : map-get($config, 'breakpoints');
	$scale             : map-get($config, 'scale');
	$prefix            : map-get($config, 'prefix');
	$prefix-class      : map-get($config, 'prefix-class');
	$prefix-variable   : map-get($config, 'prefix-variable');
	$prefix-text       : map-get($config, 'prefix-text');
	$prefix-background : map-get($config, 'prefix-background');
	$suffix            : map-get($config, 'suffix');
	$suffix-class      : map-get($config, 'suffix-class');
	$suffix-variable   : map-get($config, 'suffix-variable');
	$hsl-formatting    : map-get($config, 'hsl-formatting');
	$tints             : map-get($config, 'tints');
	$shades            : map-get($config, 'shades');
	$preferred-scheme  : map-get($config, 'preferred-scheme');

	// Preventing $base, $ratio, $length and $preserve to be used together with $src and $scale.
	// The reason behind this is we don't want generate ratio scaled values with custom values from map or list.
	@if ($base != null or $ratio != null or $length != null or $preserve != 0) and
		($src != null  or $scale != 100%) {
		@error "Invalid set of parameters: 'base', 'ratio', 'length', 'preserve' AND 'src', 'break-at', 'breakpoints', 'scale' are mutually exclusive.";
	}

	// Prevent parameters to have incorrect type values i.g $base parameter being a color type or $utility-classes parameter being string type and so on...
	@if (type-of($base) != 'null' and type-of($base) != number and type-of($base) != calculation) or
		 (type-of($ratio) != 'null' and type-of($ratio) != string and type-of($ratio) != number) or
		 (type-of($length) != 'null' and type-of($length) != number) or
		 (type-of($utility-classes) != bool) or
		 (type-of($src) != 'null' and type-of($src) != map and type-of($src) != list and type-of($src) != arglist and type-of($src) != number) or
		 (type-of($src-scheme) != 'null' and type-of($src-scheme) != map and type-of($src-scheme) != list and type-of($src-scheme) != arglist and type-of($src-scheme) != number) or
		 (type-of($break-at) != 'null' and type-of($break-at) != string) or
		 (type-of($breakpoints) != 'null' and type-of($breakpoints) != map) or
		 (type-of($scale) != 'null' and type-of($scale) != number) or
		 (type-of($tints) != 'null' and type-of($tints) != list) or
		 (type-of($hsl-formatting) != 'null' and type-of($hsl-formatting) != string) or
		 (type-of($preferred-scheme) != 'null' and type-of($preferred-scheme) != string) or
		 (type-of($shades) != 'null' and type-of($shades) != list) or
		 (type-of($prefix) != 'null' and type-of($prefix) != string) or
		 (type-of($prefix-class) != 'null' and type-of($prefix-class) != string) or
		 (type-of($prefix-variable) != 'null' and type-of($prefix-variable) != string) or
		 (type-of($prefix-text) != 'null' and type-of($prefix-text) != string) or
		 (type-of($prefix-background) != 'null' and type-of($prefix-background) != string) or
		 (type-of($suffix) != 'null' and type-of($suffix) != string and type-of($suffix) != list) or
		 (type-of($suffix-class) != 'null' and type-of($suffix-class) != string and type-of($suffix-class) != list) or
		 (type-of($suffix-variable) != 'null' and type-of($suffix-variable) != string and type-of($suffix-variable) != list) {
		@error 'Invalid type value: check if values hold the corresponding type.';
	}

	// Prevent $base and $scale values to be below 0.
	@if (type-of($base) != calculation and (type-of($base) != 'null' and $base < 0)) or (type-of($scale) != 'null' and $scale < 0) {
		@error "Invalid value: 'base', 'length', 'scale' must be greater than or equal to 0.";
	}

	// Prevent $base value to be unitless number.
	@if type-of($base) != calculation and (type-of($base) != 'null' and unitless($base)) {
		@error "Invalid value: 'base' must be a number with a unit.";
	}

	// Prevent $ratio, $length and $preserve values to be number with unit.
	@if (type-of($ratio) != string and type-of($ratio) != 'null' and unitless($ratio) != true) or
		(unitless($preserve) != true) or
		(type-of($ratio) != 'null' and unitless($length) != true) {
		@error "Invalid value: 'ratio', 'preserve', 'length' must be a number with no unit.";
	}

	// Prevent $preserve and $length values to be decimal numbers.
	@if round($preserve) != $preserve or (type-of($ratio) != 'null' and round($length) != $length) {
		@error "Invalid value: 'preserve', 'length' must be an integer.";
	}

	// If $ratio is type of string check for the corresponding ratio type.
	@if (type-of($ratio) != number) and type-of($ratio) != 'null' and map-has-key($map-for-ratios, $ratio) != true {
		@error "Invalid value: 'ratio' must be one of #{_map-keys($map-for-ratios)}.";
	}

	// Prevent $preserve value being greater than $length.
	@if type-of($ratio) != 'null' and ($preserve > $length) {
		@error "Invalid value: 'preserve' must be less than or equal to 'length'.";
	}

	// Prevent $length value being greater than 40 or less than 1.
	@if (type-of($ratio) != 'null') and ($length > 40 or $length < 1) {
		@error "Invalid value: 'length' must be between 1 and 40.";
	};

	// Prevent $scale value to have a different unit than percentage.
	@if (type-of($scale) != number and (type-of($scale) != 'null' and unit($scale) != '%')) {
		@error "Invalid value: 'scale' must be a percentage.";
	}

	// Prevent $break-at value to be different than 'max' or 'min'.
	@if ($break-at != null and $break-at != 'min' and $break-at != 'max') {
		@error "Invalid value: 'break-at' must be 'min' or 'max'.";
	}

	// Warn if $preserve or $scale will be used in.
	@if ($key == 'fluid-space-types' or $key == 'fluid-font-types') and ($preserve != 0 or $scale != 100%) {
		@warn "Invalid set of parameters: 'preserve' and 'scale' are not applicable to 'fluid-space-types' and 'fluid-font-types' respectively.";
	}

	// Prevent $preferred-scheme value to be different than 'dark' or 'light'.
	@if ($preferred-scheme != null) and ($preferred-scheme != 'dark' and $preferred-scheme != 'light') {
		@error "Invalid value: 'preferred-scheme' must be 'dark' or 'light'.";
	}

	// Prevent $hsl-formatting value to be different than 'function' or 'numbers'.
	@if ($hsl-formatting != null) and ($hsl-formatting != 'function' and $hsl-formatting != 'numbers') {
		@error "Invalid value: 'hsl-formatting' must be 'function' or 'numbers'.";
	}

	// Validate the config keys.
	@include _validate-config-keys($config, $key);
}
