@charset "UTF-8";

/*
/// Converts map to list.
/// @access public
/// @param $value {map} - Map to be converted.
/// @param $keep {string} - The key/values to be kept. Available options: 'keys', 'values' , 'both'.
/// @return {list} - Converted list.
 */
@function list-converted($value, $keep: 'both') {
	$keep : if(index('keys' 'values', $keep), $keep, 'both');

	@if type-of($value) == 'map' {
		$keys : ();
		$values : ();

		@each $key, $val in $value {
			$keys : append($keys, $key);
			$values : append($values, $val);
		}

		@if $keep == 'keys' {
			@return $keys;
		} @else if $keep == 'values' {
			@return $values;
		} @else {
			@return zip($keys, $values);
		}
	}

	@return if(type-of($value) != 'list', ($value,), $value);
}

/*
/// Reverse order of values in list.
/// @access public
/// @param $list {list} - List to be reversed.
/// @param $recursive {boolean}
/// @return {list} - Reversed list.
 */
@function list-reverse($list, $recursive: false) {
	$result : ();

	@for $i from length($list) * -1 through -1 {
		@if type-of(nth($list, abs($i))) == list and $recursive {
			$result : append($result, list-reverse(nth($list, abs($i)), $recursive));
		} @else {
			$result : append($result, nth($list, abs($i)));
		}
	}

	@return $result;
}

